/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$green-color-variants-name: 'green-ColorVariants';
$green-color-variants-x: 360px;
$green-color-variants-y: 239px;
$green-color-variants-offset-x: -360px;
$green-color-variants-offset-y: -239px;
$green-color-variants-width: 60px;
$green-color-variants-height: 59px;
$green-color-variants-total-width: 420px;
$green-color-variants-total-height: 420px;
$green-color-variants-image: '../images/individual-badges-main.png';
$green-color-variants: (360px, 239px, -360px, -239px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'green-ColorVariants', );
$green-double-stitching-name: 'green-DoubleStitching';
$green-double-stitching-x: 0px;
$green-double-stitching-y: 242px;
$green-double-stitching-offset-x: 0px;
$green-double-stitching-offset-y: -242px;
$green-double-stitching-width: 60px;
$green-double-stitching-height: 60px;
$green-double-stitching-total-width: 420px;
$green-double-stitching-total-height: 420px;
$green-double-stitching-image: '../images/individual-badges-main.png';
$green-double-stitching: (0px, 242px, 0px, -242px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-DoubleStitching', );
$green-extra-wide-name: 'green-ExtraWide';
$green-extra-wide-x: 0px;
$green-extra-wide-y: 0px;
$green-extra-wide-offset-x: 0px;
$green-extra-wide-offset-y: 0px;
$green-extra-wide-width: 60px;
$green-extra-wide-height: 61px;
$green-extra-wide-total-width: 420px;
$green-extra-wide-total-height: 420px;
$green-extra-wide-image: '../images/individual-badges-main.png';
$green-extra-wide: (0px, 0px, 0px, 0px, 60px, 61px, 420px, 420px, '../images/individual-badges-main.png', 'green-ExtraWide', );
$green-fire-retardent-name: 'green-FireRetardent';
$green-fire-retardent-x: 120px;
$green-fire-retardent-y: 361px;
$green-fire-retardent-offset-x: -120px;
$green-fire-retardent-offset-y: -361px;
$green-fire-retardent-width: 60px;
$green-fire-retardent-height: 59px;
$green-fire-retardent-total-width: 420px;
$green-fire-retardent-total-height: 420px;
$green-fire-retardent-image: '../images/individual-badges-main.png';
$green-fire-retardent: (120px, 361px, -120px, -361px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'green-FireRetardent', );
$green-free-shipping-name: 'green-FreeShipping';
$green-free-shipping-x: 240px;
$green-free-shipping-y: 0px;
$green-free-shipping-offset-x: -240px;
$green-free-shipping-offset-y: 0px;
$green-free-shipping-width: 60px;
$green-free-shipping-height: 60px;
$green-free-shipping-total-width: 420px;
$green-free-shipping-total-height: 420px;
$green-free-shipping-image: '../images/individual-badges-main.png';
$green-free-shipping: (240px, 0px, -240px, 0px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-FreeShipping', );
$green-gluten-free-name: 'green-GlutenFree';
$green-gluten-free-x: 240px;
$green-gluten-free-y: 120px;
$green-gluten-free-offset-x: -240px;
$green-gluten-free-offset-y: -120px;
$green-gluten-free-width: 60px;
$green-gluten-free-height: 60px;
$green-gluten-free-total-width: 420px;
$green-gluten-free-total-height: 420px;
$green-gluten-free-image: '../images/individual-badges-main.png';
$green-gluten-free: (240px, 120px, -240px, -120px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-GlutenFree', );
$green-guarantee-pass-inspection-name: 'green-GuaranteePassInspection';
$green-guarantee-pass-inspection-x: 60px;
$green-guarantee-pass-inspection-y: 182px;
$green-guarantee-pass-inspection-offset-x: -60px;
$green-guarantee-pass-inspection-offset-y: -182px;
$green-guarantee-pass-inspection-width: 60px;
$green-guarantee-pass-inspection-height: 60px;
$green-guarantee-pass-inspection-total-width: 420px;
$green-guarantee-pass-inspection-total-height: 420px;
$green-guarantee-pass-inspection-image: '../images/individual-badges-main.png';
$green-guarantee-pass-inspection: (60px, 182px, -60px, -182px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-GuaranteePassInspection', );
$green-heavy-duty-hardware-name: 'green-HeavyDutyHardware';
$green-heavy-duty-hardware-x: 240px;
$green-heavy-duty-hardware-y: 361px;
$green-heavy-duty-hardware-offset-x: -240px;
$green-heavy-duty-hardware-offset-y: -361px;
$green-heavy-duty-hardware-width: 60px;
$green-heavy-duty-hardware-height: 53px;
$green-heavy-duty-hardware-total-width: 420px;
$green-heavy-duty-hardware-total-height: 420px;
$green-heavy-duty-hardware-image: '../images/individual-badges-main.png';
$green-heavy-duty-hardware: (240px, 361px, -240px, -361px, 60px, 53px, 420px, 420px, '../images/individual-badges-main.png', 'green-HeavyDutyHardware', );
$green-hypoallergenic-name: 'green-Hypoallergenic';
$green-hypoallergenic-x: 0px;
$green-hypoallergenic-y: 122px;
$green-hypoallergenic-offset-x: 0px;
$green-hypoallergenic-offset-y: -122px;
$green-hypoallergenic-width: 60px;
$green-hypoallergenic-height: 60px;
$green-hypoallergenic-total-width: 420px;
$green-hypoallergenic-total-height: 420px;
$green-hypoallergenic-image: '../images/individual-badges-main.png';
$green-hypoallergenic: (0px, 122px, 0px, -122px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-Hypoallergenic', );
$green-longer-iron-life-name: 'green-LongerIronLife';
$green-longer-iron-life-x: 60px;
$green-longer-iron-life-y: 361px;
$green-longer-iron-life-offset-x: -60px;
$green-longer-iron-life-offset-y: -361px;
$green-longer-iron-life-width: 60px;
$green-longer-iron-life-height: 59px;
$green-longer-iron-life-total-width: 420px;
$green-longer-iron-life-total-height: 420px;
$green-longer-iron-life-image: '../images/individual-badges-main.png';
$green-longer-iron-life: (60px, 361px, -60px, -361px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'green-LongerIronLife', );
$green-new-arrival-name: 'green-NewArrival';
$green-new-arrival-x: 120px;
$green-new-arrival-y: 0px;
$green-new-arrival-offset-x: -120px;
$green-new-arrival-offset-y: 0px;
$green-new-arrival-width: 60px;
$green-new-arrival-height: 61px;
$green-new-arrival-total-width: 420px;
$green-new-arrival-total-height: 420px;
$green-new-arrival-image: '../images/individual-badges-main.png';
$green-new-arrival: (120px, 0px, -120px, 0px, 60px, 61px, 420px, 420px, '../images/individual-badges-main.png', 'green-NewArrival', );
$green-no-hassel-return-policy-name: 'green-NoHasselReturnPolicy';
$green-no-hassel-return-policy-x: 0px;
$green-no-hassel-return-policy-y: 361px;
$green-no-hassel-return-policy-offset-x: 0px;
$green-no-hassel-return-policy-offset-y: -361px;
$green-no-hassel-return-policy-width: 60px;
$green-no-hassel-return-policy-height: 59px;
$green-no-hassel-return-policy-total-width: 420px;
$green-no-hassel-return-policy-total-height: 420px;
$green-no-hassel-return-policy-image: '../images/individual-badges-main.png';
$green-no-hassel-return-policy: (0px, 361px, 0px, -361px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'green-NoHasselReturnPolicy', );
$green-no-sales-tax-name: 'green-NoSalesTax';
$green-no-sales-tax-x: 0px;
$green-no-sales-tax-y: 61px;
$green-no-sales-tax-offset-x: 0px;
$green-no-sales-tax-offset-y: -61px;
$green-no-sales-tax-width: 60px;
$green-no-sales-tax-height: 61px;
$green-no-sales-tax-total-width: 420px;
$green-no-sales-tax-total-height: 420px;
$green-no-sales-tax-image: '../images/individual-badges-main.png';
$green-no-sales-tax: (0px, 61px, 0px, -61px, 60px, 61px, 420px, 420px, '../images/individual-badges-main.png', 'green-NoSalesTax', );
$green-oil-free-name: 'green-OilFree';
$green-oil-free-x: 240px;
$green-oil-free-y: 60px;
$green-oil-free-offset-x: -240px;
$green-oil-free-offset-y: -60px;
$green-oil-free-width: 60px;
$green-oil-free-height: 60px;
$green-oil-free-total-width: 420px;
$green-oil-free-total-height: 420px;
$green-oil-free-image: '../images/individual-badges-main.png';
$green-oil-free: (240px, 60px, -240px, -60px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-OilFree', );
$green-paraben-free-name: 'green-ParabenFree';
$green-paraben-free-x: 60px;
$green-paraben-free-y: 61px;
$green-paraben-free-offset-x: -60px;
$green-paraben-free-offset-y: -61px;
$green-paraben-free-width: 60px;
$green-paraben-free-height: 61px;
$green-paraben-free-total-width: 420px;
$green-paraben-free-total-height: 420px;
$green-paraben-free-image: '../images/individual-badges-main.png';
$green-paraben-free: (60px, 61px, -60px, -61px, 60px, 61px, 420px, 420px, '../images/individual-badges-main.png', 'green-ParabenFree', );
$green-personal-service-name: 'green-PersonalService';
$green-personal-service-x: 360px;
$green-personal-service-y: 302px;
$green-personal-service-offset-x: -360px;
$green-personal-service-offset-y: -302px;
$green-personal-service-width: 60px;
$green-personal-service-height: 59px;
$green-personal-service-total-width: 420px;
$green-personal-service-total-height: 420px;
$green-personal-service-image: '../images/individual-badges-main.png';
$green-personal-service: (360px, 302px, -360px, -302px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'green-PersonalService', );
$green-real-hardwood-name: 'green-RealHardwood';
$green-real-hardwood-x: 360px;
$green-real-hardwood-y: 180px;
$green-real-hardwood-offset-x: -360px;
$green-real-hardwood-offset-y: -180px;
$green-real-hardwood-width: 60px;
$green-real-hardwood-height: 59px;
$green-real-hardwood-total-width: 420px;
$green-real-hardwood-total-height: 420px;
$green-real-hardwood-image: '../images/individual-badges-main.png';
$green-real-hardwood: (360px, 180px, -360px, -180px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'green-RealHardwood', );
$green-soap-free-name: 'green-SoapFree';
$green-soap-free-x: 180px;
$green-soap-free-y: 0px;
$green-soap-free-offset-x: -180px;
$green-soap-free-offset-y: 0px;
$green-soap-free-width: 60px;
$green-soap-free-height: 61px;
$green-soap-free-total-width: 420px;
$green-soap-free-total-height: 420px;
$green-soap-free-image: '../images/individual-badges-main.png';
$green-soap-free: (180px, 0px, -180px, 0px, 60px, 61px, 420px, 420px, '../images/individual-badges-main.png', 'green-SoapFree', );
$green-st-patricks-sale-name: 'green-StPatricksSale';
$green-st-patricks-sale-x: 180px;
$green-st-patricks-sale-y: 182px;
$green-st-patricks-sale-offset-x: -180px;
$green-st-patricks-sale-offset-y: -182px;
$green-st-patricks-sale-width: 60px;
$green-st-patricks-sale-height: 60px;
$green-st-patricks-sale-total-width: 420px;
$green-st-patricks-sale-total-height: 420px;
$green-st-patricks-sale-image: '../images/individual-badges-main.png';
$green-st-patricks-sale: (180px, 182px, -180px, -182px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-StPatricksSale', );
$green-sulfate-free-name: 'green-SulfateFree';
$green-sulfate-free-x: 240px;
$green-sulfate-free-y: 182px;
$green-sulfate-free-offset-x: -240px;
$green-sulfate-free-offset-y: -182px;
$green-sulfate-free-width: 60px;
$green-sulfate-free-height: 60px;
$green-sulfate-free-total-width: 420px;
$green-sulfate-free-total-height: 420px;
$green-sulfate-free-image: '../images/individual-badges-main.png';
$green-sulfate-free: (240px, 182px, -240px, -182px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-SulfateFree', );
$green-swappable-bases-name: 'green-SwappableBases';
$green-swappable-bases-x: 300px;
$green-swappable-bases-y: 0px;
$green-swappable-bases-offset-x: -300px;
$green-swappable-bases-offset-y: 0px;
$green-swappable-bases-width: 60px;
$green-swappable-bases-height: 60px;
$green-swappable-bases-total-width: 420px;
$green-swappable-bases-total-height: 420px;
$green-swappable-bases-image: '../images/individual-badges-main.png';
$green-swappable-bases: (300px, 0px, -300px, 0px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-SwappableBases', );
$green-ten-k-rub-count-name: 'green-TenKRubCount';
$green-ten-k-rub-count-x: 180px;
$green-ten-k-rub-count-y: 302px;
$green-ten-k-rub-count-offset-x: -180px;
$green-ten-k-rub-count-offset-y: -302px;
$green-ten-k-rub-count-width: 60px;
$green-ten-k-rub-count-height: 59px;
$green-ten-k-rub-count-total-width: 420px;
$green-ten-k-rub-count-total-height: 420px;
$green-ten-k-rub-count-image: '../images/individual-badges-main.png';
$green-ten-k-rub-count: (180px, 302px, -180px, -302px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'green-TenKRubCount', );
$green-vegan-name: 'green-Vegan';
$green-vegan-x: 300px;
$green-vegan-y: 120px;
$green-vegan-offset-x: -300px;
$green-vegan-offset-y: -120px;
$green-vegan-width: 60px;
$green-vegan-height: 60px;
$green-vegan-total-width: 420px;
$green-vegan-total-height: 420px;
$green-vegan-image: '../images/individual-badges-main.png';
$green-vegan: (300px, 120px, -300px, -120px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-Vegan', );
$green-warranty-name: 'green-Warranty';
$green-warranty-x: 300px;
$green-warranty-y: 180px;
$green-warranty-offset-x: -300px;
$green-warranty-offset-y: -180px;
$green-warranty-width: 60px;
$green-warranty-height: 60px;
$green-warranty-total-width: 420px;
$green-warranty-total-height: 420px;
$green-warranty-image: '../images/individual-badges-main.png';
$green-warranty: (300px, 180px, -300px, -180px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'green-Warranty', );
$-color-variants-name: 'ColorVariants';
$-color-variants-x: 180px;
$-color-variants-y: 61px;
$-color-variants-offset-x: -180px;
$-color-variants-offset-y: -61px;
$-color-variants-width: 60px;
$-color-variants-height: 60px;
$-color-variants-total-width: 420px;
$-color-variants-total-height: 420px;
$-color-variants-image: '../images/individual-badges-main.png';
$-color-variants: (180px, 61px, -180px, -61px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'ColorVariants', );
$-double-stitching-name: 'DoubleStitching';
$-double-stitching-x: 60px;
$-double-stitching-y: 242px;
$-double-stitching-offset-x: -60px;
$-double-stitching-offset-y: -242px;
$-double-stitching-width: 60px;
$-double-stitching-height: 60px;
$-double-stitching-total-width: 420px;
$-double-stitching-total-height: 420px;
$-double-stitching-image: '../images/individual-badges-main.png';
$-double-stitching: (60px, 242px, -60px, -242px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'DoubleStitching', );
$-extra-wide-name: 'ExtraWide';
$-extra-wide-x: 120px;
$-extra-wide-y: 242px;
$-extra-wide-offset-x: -120px;
$-extra-wide-offset-y: -242px;
$-extra-wide-width: 60px;
$-extra-wide-height: 60px;
$-extra-wide-total-width: 420px;
$-extra-wide-total-height: 420px;
$-extra-wide-image: '../images/individual-badges-main.png';
$-extra-wide: (120px, 242px, -120px, -242px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'ExtraWide', );
$-fire-retardent-name: 'FireRetardent';
$-fire-retardent-x: 180px;
$-fire-retardent-y: 242px;
$-fire-retardent-offset-x: -180px;
$-fire-retardent-offset-y: -242px;
$-fire-retardent-width: 60px;
$-fire-retardent-height: 60px;
$-fire-retardent-total-width: 420px;
$-fire-retardent-total-height: 420px;
$-fire-retardent-image: '../images/individual-badges-main.png';
$-fire-retardent: (180px, 242px, -180px, -242px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'FireRetardent', );
$-free-shipping-name: 'FreeShipping';
$-free-shipping-x: 120px;
$-free-shipping-y: 302px;
$-free-shipping-offset-x: -120px;
$-free-shipping-offset-y: -302px;
$-free-shipping-width: 60px;
$-free-shipping-height: 59px;
$-free-shipping-total-width: 420px;
$-free-shipping-total-height: 420px;
$-free-shipping-image: '../images/individual-badges-main.png';
$-free-shipping: (120px, 302px, -120px, -302px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'FreeShipping', );
$-gluten-free-name: 'GlutenFree';
$-gluten-free-x: 300px;
$-gluten-free-y: 242px;
$-gluten-free-offset-x: -300px;
$-gluten-free-offset-y: -242px;
$-gluten-free-width: 60px;
$-gluten-free-height: 60px;
$-gluten-free-total-width: 420px;
$-gluten-free-total-height: 420px;
$-gluten-free-image: '../images/individual-badges-main.png';
$-gluten-free: (300px, 242px, -300px, -242px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'GlutenFree', );
$-guarantee-pass-inspection-name: 'GuaranteePassInspection';
$-guarantee-pass-inspection-x: 0px;
$-guarantee-pass-inspection-y: 302px;
$-guarantee-pass-inspection-offset-x: 0px;
$-guarantee-pass-inspection-offset-y: -302px;
$-guarantee-pass-inspection-width: 60px;
$-guarantee-pass-inspection-height: 59px;
$-guarantee-pass-inspection-total-width: 420px;
$-guarantee-pass-inspection-total-height: 420px;
$-guarantee-pass-inspection-image: '../images/individual-badges-main.png';
$-guarantee-pass-inspection: (0px, 302px, 0px, -302px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'GuaranteePassInspection', );
$-heavy-duty-hardware-name: 'HeavyDutyHardware';
$-heavy-duty-hardware-x: 300px;
$-heavy-duty-hardware-y: 361px;
$-heavy-duty-hardware-offset-x: -300px;
$-heavy-duty-hardware-offset-y: -361px;
$-heavy-duty-hardware-width: 60px;
$-heavy-duty-hardware-height: 52px;
$-heavy-duty-hardware-total-width: 420px;
$-heavy-duty-hardware-total-height: 420px;
$-heavy-duty-hardware-image: '../images/individual-badges-main.png';
$-heavy-duty-hardware: (300px, 361px, -300px, -361px, 60px, 52px, 420px, 420px, '../images/individual-badges-main.png', 'HeavyDutyHardware', );
$-hypoallergenic-name: 'Hypoallergenic';
$-hypoallergenic-x: 360px;
$-hypoallergenic-y: 120px;
$-hypoallergenic-offset-x: -360px;
$-hypoallergenic-offset-y: -120px;
$-hypoallergenic-width: 60px;
$-hypoallergenic-height: 60px;
$-hypoallergenic-total-width: 420px;
$-hypoallergenic-total-height: 420px;
$-hypoallergenic-image: '../images/individual-badges-main.png';
$-hypoallergenic: (360px, 120px, -360px, -120px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'Hypoallergenic', );
$-longer-iron-life-name: 'LongerIronLife';
$-longer-iron-life-x: 360px;
$-longer-iron-life-y: 60px;
$-longer-iron-life-offset-x: -360px;
$-longer-iron-life-offset-y: -60px;
$-longer-iron-life-width: 60px;
$-longer-iron-life-height: 60px;
$-longer-iron-life-total-width: 420px;
$-longer-iron-life-total-height: 420px;
$-longer-iron-life-image: '../images/individual-badges-main.png';
$-longer-iron-life: (360px, 60px, -360px, -60px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'LongerIronLife', );
$-new-arrival-name: 'NewArrival';
$-new-arrival-x: 300px;
$-new-arrival-y: 302px;
$-new-arrival-offset-x: -300px;
$-new-arrival-offset-y: -302px;
$-new-arrival-width: 60px;
$-new-arrival-height: 59px;
$-new-arrival-total-width: 420px;
$-new-arrival-total-height: 420px;
$-new-arrival-image: '../images/individual-badges-main.png';
$-new-arrival: (300px, 302px, -300px, -302px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'NewArrival', );
$-no-hassel-return-policy-name: 'NoHasselReturnPolicy';
$-no-hassel-return-policy-x: 360px;
$-no-hassel-return-policy-y: 0px;
$-no-hassel-return-policy-offset-x: -360px;
$-no-hassel-return-policy-offset-y: 0px;
$-no-hassel-return-policy-width: 60px;
$-no-hassel-return-policy-height: 60px;
$-no-hassel-return-policy-total-width: 420px;
$-no-hassel-return-policy-total-height: 420px;
$-no-hassel-return-policy-image: '../images/individual-badges-main.png';
$-no-hassel-return-policy: (360px, 0px, -360px, 0px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'NoHasselReturnPolicy', );
$-no-sales-tax-name: 'NoSalesTax';
$-no-sales-tax-x: 60px;
$-no-sales-tax-y: 302px;
$-no-sales-tax-offset-x: -60px;
$-no-sales-tax-offset-y: -302px;
$-no-sales-tax-width: 60px;
$-no-sales-tax-height: 59px;
$-no-sales-tax-total-width: 420px;
$-no-sales-tax-total-height: 420px;
$-no-sales-tax-image: '../images/individual-badges-main.png';
$-no-sales-tax: (60px, 302px, -60px, -302px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'NoSalesTax', );
$-oil-free-name: 'OilFree';
$-oil-free-x: 240px;
$-oil-free-y: 242px;
$-oil-free-offset-x: -240px;
$-oil-free-offset-y: -242px;
$-oil-free-width: 60px;
$-oil-free-height: 60px;
$-oil-free-total-width: 420px;
$-oil-free-total-height: 420px;
$-oil-free-image: '../images/individual-badges-main.png';
$-oil-free: (240px, 242px, -240px, -242px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'OilFree', );
$-paraben-free-name: 'ParabenFree';
$-paraben-free-x: 300px;
$-paraben-free-y: 60px;
$-paraben-free-offset-x: -300px;
$-paraben-free-offset-y: -60px;
$-paraben-free-width: 60px;
$-paraben-free-height: 60px;
$-paraben-free-total-width: 420px;
$-paraben-free-total-height: 420px;
$-paraben-free-image: '../images/individual-badges-main.png';
$-paraben-free: (300px, 60px, -300px, -60px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'ParabenFree', );
$-personal-service-name: 'PersonalService';
$-personal-service-x: 240px;
$-personal-service-y: 302px;
$-personal-service-offset-x: -240px;
$-personal-service-offset-y: -302px;
$-personal-service-width: 60px;
$-personal-service-height: 59px;
$-personal-service-total-width: 420px;
$-personal-service-total-height: 420px;
$-personal-service-image: '../images/individual-badges-main.png';
$-personal-service: (240px, 302px, -240px, -302px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'PersonalService', );
$-real-hardwood-name: 'RealHardwood';
$-real-hardwood-x: 120px;
$-real-hardwood-y: 61px;
$-real-hardwood-offset-x: -120px;
$-real-hardwood-offset-y: -61px;
$-real-hardwood-width: 60px;
$-real-hardwood-height: 61px;
$-real-hardwood-total-width: 420px;
$-real-hardwood-total-height: 420px;
$-real-hardwood-image: '../images/individual-badges-main.png';
$-real-hardwood: (120px, 61px, -120px, -61px, 60px, 61px, 420px, 420px, '../images/individual-badges-main.png', 'RealHardwood', );
$-soap-free-name: 'SoapFree';
$-soap-free-x: 0px;
$-soap-free-y: 182px;
$-soap-free-offset-x: 0px;
$-soap-free-offset-y: -182px;
$-soap-free-width: 60px;
$-soap-free-height: 60px;
$-soap-free-total-width: 420px;
$-soap-free-total-height: 420px;
$-soap-free-image: '../images/individual-badges-main.png';
$-soap-free: (0px, 182px, 0px, -182px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'SoapFree', );
$-st-patricks-sale-name: 'StPatricksSale';
$-st-patricks-sale-x: 180px;
$-st-patricks-sale-y: 122px;
$-st-patricks-sale-offset-x: -180px;
$-st-patricks-sale-offset-y: -122px;
$-st-patricks-sale-width: 60px;
$-st-patricks-sale-height: 60px;
$-st-patricks-sale-total-width: 420px;
$-st-patricks-sale-total-height: 420px;
$-st-patricks-sale-image: '../images/individual-badges-main.png';
$-st-patricks-sale: (180px, 122px, -180px, -122px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'StPatricksSale', );
$-sulfate-free-name: 'SulfateFree';
$-sulfate-free-x: 60px;
$-sulfate-free-y: 122px;
$-sulfate-free-offset-x: -60px;
$-sulfate-free-offset-y: -122px;
$-sulfate-free-width: 60px;
$-sulfate-free-height: 60px;
$-sulfate-free-total-width: 420px;
$-sulfate-free-total-height: 420px;
$-sulfate-free-image: '../images/individual-badges-main.png';
$-sulfate-free: (60px, 122px, -60px, -122px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'SulfateFree', );
$-swappable-bases-name: 'SwappableBases';
$-swappable-bases-x: 60px;
$-swappable-bases-y: 0px;
$-swappable-bases-offset-x: -60px;
$-swappable-bases-offset-y: 0px;
$-swappable-bases-width: 60px;
$-swappable-bases-height: 61px;
$-swappable-bases-total-width: 420px;
$-swappable-bases-total-height: 420px;
$-swappable-bases-image: '../images/individual-badges-main.png';
$-swappable-bases: (60px, 0px, -60px, 0px, 60px, 61px, 420px, 420px, '../images/individual-badges-main.png', 'SwappableBases', );
$-ten-k-rub-count-name: 'TenKRubCount';
$-ten-k-rub-count-x: 180px;
$-ten-k-rub-count-y: 361px;
$-ten-k-rub-count-offset-x: -180px;
$-ten-k-rub-count-offset-y: -361px;
$-ten-k-rub-count-width: 60px;
$-ten-k-rub-count-height: 59px;
$-ten-k-rub-count-total-width: 420px;
$-ten-k-rub-count-total-height: 420px;
$-ten-k-rub-count-image: '../images/individual-badges-main.png';
$-ten-k-rub-count: (180px, 361px, -180px, -361px, 60px, 59px, 420px, 420px, '../images/individual-badges-main.png', 'TenKRubCount', );
$-vegan-name: 'Vegan';
$-vegan-x: 120px;
$-vegan-y: 122px;
$-vegan-offset-x: -120px;
$-vegan-offset-y: -122px;
$-vegan-width: 60px;
$-vegan-height: 60px;
$-vegan-total-width: 420px;
$-vegan-total-height: 420px;
$-vegan-image: '../images/individual-badges-main.png';
$-vegan: (120px, 122px, -120px, -122px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'Vegan', );
$-warranty-name: 'Warranty';
$-warranty-x: 120px;
$-warranty-y: 182px;
$-warranty-offset-x: -120px;
$-warranty-offset-y: -182px;
$-warranty-width: 60px;
$-warranty-height: 60px;
$-warranty-total-width: 420px;
$-warranty-total-height: 420px;
$-warranty-image: '../images/individual-badges-main.png';
$-warranty: (120px, 182px, -120px, -182px, 60px, 60px, 420px, 420px, '../images/individual-badges-main.png', 'Warranty', );
$spritesheet-width: 420px;
$spritesheet-height: 420px;
$spritesheet-image: '../images/individual-badges-main.png';
$spritesheet-sprites: ($green-color-variants, $green-double-stitching, $green-extra-wide, $green-fire-retardent, $green-free-shipping, $green-gluten-free, $green-guarantee-pass-inspection, $green-heavy-duty-hardware, $green-hypoallergenic, $green-longer-iron-life, $green-new-arrival, $green-no-hassel-return-policy, $green-no-sales-tax, $green-oil-free, $green-paraben-free, $green-personal-service, $green-real-hardwood, $green-soap-free, $green-st-patricks-sale, $green-sulfate-free, $green-swappable-bases, $green-ten-k-rub-count, $green-vegan, $green-warranty, $-color-variants, $-double-stitching, $-extra-wide, $-fire-retardent, $-free-shipping, $-gluten-free, $-guarantee-pass-inspection, $-heavy-duty-hardware, $-hypoallergenic, $-longer-iron-life, $-new-arrival, $-no-hassel-return-policy, $-no-sales-tax, $-oil-free, $-paraben-free, $-personal-service, $-real-hardwood, $-soap-free, $-st-patricks-sale, $-sulfate-free, $-swappable-bases, $-ten-k-rub-count, $-vegan, $-warranty, );
$spritesheet: (420px, 420px, '../images/individual-badges-main.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
