/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$-affordable-imports-white-name: 'AffordableImports-White';
$-affordable-imports-white-x: 60px;
$-affordable-imports-white-y: 0px;
$-affordable-imports-white-offset-x: -60px;
$-affordable-imports-white-offset-y: 0px;
$-affordable-imports-white-width: 60px;
$-affordable-imports-white-height: 60px;
$-affordable-imports-white-total-width: 300px;
$-affordable-imports-white-total-height: 240px;
$-affordable-imports-white-image: '../dist/sprites/badges-sprites.png';
$-affordable-imports-white: (60px, 0px, -60px, 0px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'AffordableImports-White', );
$-iron-life-name: 'Iron-Life';
$-iron-life-x: 120px;
$-iron-life-y: 120px;
$-iron-life-offset-x: -120px;
$-iron-life-offset-y: -120px;
$-iron-life-width: 60px;
$-iron-life-height: 60px;
$-iron-life-total-width: 300px;
$-iron-life-total-height: 240px;
$-iron-life-image: '../dist/sprites/badges-sprites.png';
$-iron-life: (120px, 120px, -120px, -120px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'Iron-Life', );
$color-name: 'color';
$color-x: 0px;
$color-y: 60px;
$color-offset-x: 0px;
$color-offset-y: -60px;
$color-width: 60px;
$color-height: 60px;
$color-total-width: 300px;
$color-total-height: 240px;
$color-image: '../dist/sprites/badges-sprites.png';
$color: (0px, 60px, 0px, -60px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'color', );
$double-stitched-name: 'double-stitched';
$double-stitched-x: 60px;
$double-stitched-y: 60px;
$double-stitched-offset-x: -60px;
$double-stitched-offset-y: -60px;
$double-stitched-width: 60px;
$double-stitched-height: 60px;
$double-stitched-total-width: 300px;
$double-stitched-total-height: 240px;
$double-stitched-image: '../dist/sprites/badges-sprites.png';
$double-stitched: (60px, 60px, -60px, -60px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'double-stitched', );
$extra-wide-name: 'extra-wide';
$extra-wide-x: 120px;
$extra-wide-y: 0px;
$extra-wide-offset-x: -120px;
$extra-wide-offset-y: 0px;
$extra-wide-width: 60px;
$extra-wide-height: 60px;
$extra-wide-total-width: 300px;
$extra-wide-total-height: 240px;
$extra-wide-image: '../dist/sprites/badges-sprites.png';
$extra-wide: (120px, 0px, -120px, 0px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'extra-wide', );
$fire-retardant-name: 'fire-retardant';
$fire-retardant-x: 120px;
$fire-retardant-y: 60px;
$fire-retardant-offset-x: -120px;
$fire-retardant-offset-y: -60px;
$fire-retardant-width: 60px;
$fire-retardant-height: 60px;
$fire-retardant-total-width: 300px;
$fire-retardant-total-height: 240px;
$fire-retardant-image: '../dist/sprites/badges-sprites.png';
$fire-retardant: (120px, 60px, -120px, -60px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'fire-retardant', );
$free-shipping-name: 'free-shipping';
$free-shipping-x: 0px;
$free-shipping-y: 120px;
$free-shipping-offset-x: 0px;
$free-shipping-offset-y: -120px;
$free-shipping-width: 60px;
$free-shipping-height: 60px;
$free-shipping-total-width: 300px;
$free-shipping-total-height: 240px;
$free-shipping-image: '../dist/sprites/badges-sprites.png';
$free-shipping: (0px, 120px, 0px, -120px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'free-shipping', );
$hardwood-name: 'hardwood';
$hardwood-x: 60px;
$hardwood-y: 120px;
$hardwood-offset-x: -60px;
$hardwood-offset-y: -120px;
$hardwood-width: 60px;
$hardwood-height: 60px;
$hardwood-total-width: 300px;
$hardwood-total-height: 240px;
$hardwood-image: '../dist/sprites/badges-sprites.png';
$hardwood: (60px, 120px, -60px, -120px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'hardwood', );
$heavy-duty-name: 'heavy-duty';
$heavy-duty-x: 0px;
$heavy-duty-y: 0px;
$heavy-duty-offset-x: 0px;
$heavy-duty-offset-y: 0px;
$heavy-duty-width: 60px;
$heavy-duty-height: 60px;
$heavy-duty-total-width: 300px;
$heavy-duty-total-height: 240px;
$heavy-duty-image: '../dist/sprites/badges-sprites.png';
$heavy-duty: (0px, 0px, 0px, 0px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'heavy-duty', );
$inspected-name: 'inspected';
$inspected-x: 180px;
$inspected-y: 0px;
$inspected-offset-x: -180px;
$inspected-offset-y: 0px;
$inspected-width: 60px;
$inspected-height: 60px;
$inspected-total-width: 300px;
$inspected-total-height: 240px;
$inspected-image: '../dist/sprites/badges-sprites.png';
$inspected: (180px, 0px, -180px, 0px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'inspected', );
$new-arrival-name: 'new-arrival';
$new-arrival-x: 180px;
$new-arrival-y: 60px;
$new-arrival-offset-x: -180px;
$new-arrival-offset-y: -60px;
$new-arrival-width: 60px;
$new-arrival-height: 60px;
$new-arrival-total-width: 300px;
$new-arrival-total-height: 240px;
$new-arrival-image: '../dist/sprites/badges-sprites.png';
$new-arrival: (180px, 60px, -180px, -60px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'new-arrival', );
$no-sales-tax-name: 'no-sales-tax';
$no-sales-tax-x: 180px;
$no-sales-tax-y: 120px;
$no-sales-tax-offset-x: -180px;
$no-sales-tax-offset-y: -120px;
$no-sales-tax-width: 60px;
$no-sales-tax-height: 60px;
$no-sales-tax-total-width: 300px;
$no-sales-tax-total-height: 240px;
$no-sales-tax-image: '../dist/sprites/badges-sprites.png';
$no-sales-tax: (180px, 120px, -180px, -120px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'no-sales-tax', );
$returns-name: 'returns';
$returns-x: 0px;
$returns-y: 180px;
$returns-offset-x: 0px;
$returns-offset-y: -180px;
$returns-width: 60px;
$returns-height: 60px;
$returns-total-width: 300px;
$returns-total-height: 240px;
$returns-image: '../dist/sprites/badges-sprites.png';
$returns: (0px, 180px, 0px, -180px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'returns', );
$service-name: 'service';
$service-x: 60px;
$service-y: 180px;
$service-offset-x: -60px;
$service-offset-y: -180px;
$service-width: 60px;
$service-height: 60px;
$service-total-width: 300px;
$service-total-height: 240px;
$service-image: '../dist/sprites/badges-sprites.png';
$service: (60px, 180px, -60px, -180px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'service', );
$swap-base-name: 'swap-base';
$swap-base-x: 120px;
$swap-base-y: 180px;
$swap-base-offset-x: -120px;
$swap-base-offset-y: -180px;
$swap-base-width: 60px;
$swap-base-height: 60px;
$swap-base-total-width: 300px;
$swap-base-total-height: 240px;
$swap-base-image: '../dist/sprites/badges-sprites.png';
$swap-base: (120px, 180px, -120px, -180px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'swap-base', );
$ten-thousand-rub-name: 'ten-thousand-rub';
$ten-thousand-rub-x: 180px;
$ten-thousand-rub-y: 180px;
$ten-thousand-rub-offset-x: -180px;
$ten-thousand-rub-offset-y: -180px;
$ten-thousand-rub-width: 60px;
$ten-thousand-rub-height: 60px;
$ten-thousand-rub-total-width: 300px;
$ten-thousand-rub-total-height: 240px;
$ten-thousand-rub-image: '../dist/sprites/badges-sprites.png';
$ten-thousand-rub: (180px, 180px, -180px, -180px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'ten-thousand-rub', );
$warranty-name: 'warranty';
$warranty-x: 240px;
$warranty-y: 0px;
$warranty-offset-x: -240px;
$warranty-offset-y: 0px;
$warranty-width: 60px;
$warranty-height: 60px;
$warranty-total-width: 300px;
$warranty-total-height: 240px;
$warranty-image: '../dist/sprites/badges-sprites.png';
$warranty: (240px, 0px, -240px, 0px, 60px, 60px, 300px, 240px, '../dist/sprites/badges-sprites.png', 'warranty', );
$spritesheet-width: 300px;
$spritesheet-height: 240px;
$spritesheet-image: '../dist/sprites/badges-sprites.png';
$spritesheet-sprites: ($-affordable-imports-white, $-iron-life, $color, $double-stitched, $extra-wide, $fire-retardant, $free-shipping, $hardwood, $heavy-duty, $inspected, $new-arrival, $no-sales-tax, $returns, $service, $swap-base, $ten-thousand-rub, $warranty, );
$spritesheet: (300px, 240px, '../dist/sprites/badges-sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
