.white {
	background-color: #fff;
}
.whitesmoke {
  background-color: #f5f5f5;
}
.standishgreen {
  background-color: $secondary-color;
}
.gainsboro {
  background-color: #dcdcdc;
}
.sienna {
  background-color: $primary-darken;
}
.lightgray {
  background-color: #efefef;
}
.darkgray {
  background-color: #a9a9a9;
}
.lightsalmon {
  background-color: $primary-color-btn-highlight;
}
.dimgray {
  background-color: $primary-gray;
}
.coral {
  background-color: $primary-color;
}
.standishgray {
  background-color: $neutral-dark;
}
.standishyellow {
  background-color: $highlight-color;
}
.beige {
  background-color: #f5f5dc;
}
.standishgold {
  background-color: #c5ac29;
}
.whitesmoke-text {
  color: #f5f5f5;
}
.standishgreen-text {
  color: $secondary-color;
}
.gainsboro-text {
  color: #dcdcdc;
}
.sienna-text {
  color: $primary-darken;
}
.lightgray-text {
  color: #efefef;
}
.darkgray-text {
  color: #a9a9a9;
}
.lightsalmon-text {
  color: $primary-color-btn-highlight;
}
.dimgray-text {
  color: $primary-gray;
}
.coral-text {
  color: white;
}
.standishgray-text {
  color: $neutral-dark;
}
.standishyellow-text {
  color: $highlight-color;
}
.beige-text {
  color: #f5f5dc;
}
.standishgold-text {
  color: #c5ac29;
}
.black-text {
  color: $neutral-dark;
}