.white {
	background-color: #fff;
}
.whitesmoke {
  background-color: #f5f5f5;
}
.standishgreen {
  background-color: #c2d3bd;
}
.gainsboro {
  background-color: #dcdcdc;
}
.sienna {
  background-color: #a0522d;
}
.lightgray {
  background-color: #efefef;
}
.darkgray {
  background-color: #a9a9a9;
}
.lightsalmon {
  background-color: #ffa07a;
}
.dimgray {
  background-color: #696969;
}
.coral {
  background-color: #ff7f50;
}
.standishgray {
  background-color: #4d4d4d;
}
.standishyellow {
  background-color: #dfe133;
}
.beige {
  background-color: #f5f5dc;
}
.standishgold {
  background-color: #c5ac29;
}
.whitesmoke-text {
  color: #f5f5f5;
}
.standishgreen-text {
  color: #c2d3bd;
}
.gainsboro-text {
  color: #dcdcdc;
}
.sienna-text {
  color: #a0522d;
}
.lightgray-text {
  color: #efefef;
}
.darkgray-text {
  color: #a9a9a9;
}
.lightsalmon-text {
  color: #ffa07a;
}
.dimgray-text {
  color: #696969;
}
.coral-text {
  color: white;
}
.standishgray-text {
  color: #4d4d4d;
}
.standishyellow-text {
  color: #dfe133;
}
.beige-text {
  color: #f5f5dc;
}
.standishgold-text {
  color: #c5ac29;
}
.black-text {
  color: #4d4d4d;
}