/* Stuff that goes in the footer */

.bottom-container {
  background: #60437D url("/assets/templates/salon-responsive/images/congruent-pentagon-pattern-long.jpg") repeat;
}



.container-fluid.newsletter-signup {
  #newsletter-signup {
    padding-top: 21px;
  }
  #newsletter-target {
    padding-top: 1em;
  }
  .hs_email, .hs_submit {
    width: 50%;
    float: left;
  }
  .hs_email {
    label {
      display: none;
    }
    input {
      width: 100%;
    }
  }
  .hs_submit {
    text-align: left;
    padding-left: 15px;
    input {
      width: 30%;
      padding: 7px 20px;
    }
  }
  h3 {
    color: #fff;
    margin-bottom: 15px;
    text-align: right;
    padding: 0 0 0 0;
    letter-spacing: 2px;
  }

  padding: 20px!important;
  width: 100%;
  color: $primary-gray;
  text-align: center;
}
.newsletter-signup 
.newsletter-signup input {
  display: block;
  width: 320px;
  height: 50px;
  margin: 30px auto;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  text-align: center;
}
.newsletter-signup .hs-button {
  width: 320px;
  background-color: $secondary-color;
}
.social-icons {
  & > div {
    float: none;
  }
  a {
    font-size: 30px;
    margin: 42px 1px;
    text-decoration: none;
  }
}
.social-icons a i {
  margin: 2px;
}
.social-icons a:hover {
}

/* Footer Main styles */
footer {
  margin-top: 35px;

  .info-block {
    img {
      margin: 15px 0 10px;
    }
  }
  h1, h2, h3, h4, h5, a, a:link, a:visited, a:hover, a.active, .bold, .bold {
    color: $neutral-dark;
  }
  h6 {
    min-height: 35px;
    color: white;
  }
  img {
    max-width: 100%;
    max-height: 85px;
  }
  p, ul, li {
    color: $neutral-dark;
  }
  address {
    font-style: italic;
  }
  .info-block.branding {
    #standish-logo {
      img {
        height: 34px;
      }
    }
  }
}
footer .container-fluid, .footer-child {
  border-top: 1px solid lighten($neutral-dark, 10%);
}
footer .container-fluid.footer-content {
  background-color: rgba(lighten($neutral-dark, 65%),0.73);
  padding: 4.5em 0 !important;
}

@media only screen and (max-width : $xs) {
  footer .container-fluid.footer-content {
    padding: 1em 0 !important;
  }
  .container-fluid.newsletter-signup h3 {
    text-align: center !important;
  }
  .container-fluid.newsletter-signup .hs_email {
    width: 70% !important;
  }
  .container-fluid.newsletter-signup .hs_submit {
    width: 30% !important;
  }
  .container-fluid.newsletter-signup .hs_submit input {
    width: 100% !important;
  }
  .info-block.branding {
    text-align: center;
    #standish-logo {
      img {
        height: 60px !important;
      }
    }
  }
  #social-icons {
    i {
      font-size: 2em !important;
    }
  }
  .footer-logos {
    // padding: 2em 4em;
  }
}

.footer-logo {
  /*display: block;*/
  /*float: left;*/
  background-image: url("/assets/templates/salon-responsive/images/footer-sprite.png");
  margin: 44px 16px 20px 16px;
  display: inline-block;
  float: none;
  vertical-align: top;
}
footer .norton {
  margin-top: 63px;
  width: 107px;
  height: 57px;
  background: none;
}
footer .usa {
  margin-top: 70px;
  width: 125px;
  height: 51px;
  background-position: -120px 0;
}
footer .pba {
  width: 60px;
  height: 117px;
  background-position: -254px 0;
}
footer .interesting {
  width: 53px;
  height: 92px;
  background-position: -317px 0;
}
footer .bbb {
  margin-top: 75px;
  width: 108px;
  height: 42px;
  background-position: 0 -58px;
  background: none;
}
footer .bofa {
  margin-top: 70px;
  width: 145px;
  height: 50px;
  background-position: -109px -50px;
}
footer .bravo {
  margin-top: 49px;
  width: 95px;
  height: 85px;
  background-position: -371px 0px;
}
footer .quest {
  margin-top: 61px;
  width: 130px;
  height: 72px;
  background-position: -469px 0px;
}

.footer-copy {
  color: #dcdcdc;
  text-align: center;
}

.footer {
  min-height: 240px;
  background-color: $primary-gray;
  width: 100%;
}
.footer li,
.footer ul {
  margin: 0;
}

