fieldset {
  border: none;
  width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}


.input-group-btn>.btn {
  padding: 6px 20px;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* bootstrap override */
.alert-danger {
  background: transparent none;
}


.fancy-select i {
  pointer-events: none;
}

.fancy-select img {
  margin: 3px 0 0 235px;
}
.fancy-select select {
  background: transparent;
  color: $neutral-dark;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 34px;
  -webkit-appearance: none;
  box-shadow: none;
  position: absolute;
  line-height: 28px;
  padding: 0 10px;
  -moz-appearance: window;
  height: 100%;
/*   padding: 6px 0 0 3px; */
}
.fancy-select {
  padding: 0 10px;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 34px;
  width: 100%;
  overflow: hidden;
  background: #efefef;
  display: inline-block;
  position: relative;
}
.fancy-select i {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  border-left: 1px solid #dcdcdc;
  padding: 2% 3%;
  height: 100%;
}

button,
.button,
input[type=button],
input[type=submit],
button[type=submit],
.hs-form .hs-button {
  background: $btn-highlight;
  background-image: -webkit-linear-gradient(top, $btn-highlight, $btn-color);
  background-image: -moz-linear-gradient(top, $btn-highlight, $btn-color);
  background-image: -ms-linear-gradient(top, $btn-highlight, $btn-color);
  background-image: -o-linear-gradient(top, $btn-highlight, $btn-color);
  background-image: linear-gradient(to bottom, $btn-highlight, $btn-color);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  text-shadow: 0px -1px 0px $btn-highlight;
  color: white;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button.btn.btn-secondary,
.btn.btn-secondary,
.btn-secondary {
  background: $secondary-btn-highlight;
  background-image: -webkit-linear-gradient(top, $secondary-btn-highlight, $secondary-btn-color);
  background-image: -moz-linear-gradient(top, $secondary-btn-highlight, $secondary-btn-color);
  background-image: -ms-linear-gradient(top, $secondary-btn-highlight, $secondary-btn-color);
  background-image: -o-linear-gradient(top, $secondary-btn-highlight, $secondary-btn-color);
  background-image: linear-gradient(to bottom, $secondary-btn-highlight, $secondary-btn-color);
  text-shadow: 0px -1px 0px $secondary-btn-highlight;
}

button[type=submit].btn-lg, .btn.btn-lg {
  padding: 10px 16px;
  font-size: 105%;
}

.btn-hello {
  background-color: darken($accent-color, 10%);
  border-bottom: 1px solid darken($accent-color, 30%);
}
.btn-hello:hover {
  background-color: darken($accent-color, 5%);
  border-bottom: 1px solid darken($accent-color, 20%);
}

btn.focus, .btn:focus, .btn:hover, .hs-form .hs-button:focus, .hs-form .hs-button:hover {
  color: white;
  font-weight: bold;
}

input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover,
.hs-form .hs-button:hover {
  background: $btn-color;
  background-image: -webkit-linear-gradient(top, $btn-color, $btn-color);
  background-image: -moz-linear-gradient(top, $btn-color, $btn-color);
  background-image: -ms-linear-gradient(top, $btn-color, $btn-color);
  background-image: -o-linear-gradient(top, $btn-color, $btn-color);
  background-image: linear-gradient(to bottom, $btn-color, $btn-color);
  text-decoration: none;
}
.button.btn.btn-secondary:hover,
.btn.btn-secondary:hover,
.btn-secondary:hover {
  background: $secondary-btn-color;
  background-image: -webkit-linear-gradient(top, $secondary-btn-color, $secondary-btn-color);
  background-image: -moz-linear-gradient(top, $secondary-btn-color, $secondary-btn-color);
  background-image: -ms-linear-gradient(top, $secondary-btn-color, $secondary-btn-color);
  background-image: -o-linear-gradient(top, $secondary-btn-color, $secondary-btn-color);
  background-image: linear-gradient(to bottom, $secondary-btn-color, $secondary-btn-color);
  text-decoration: none;
}
.button.medium,
button.medium {
  font-size: 16px;
  padding: 0 24px;
  height: 40px;
}
.button.large,
button.large {
  font-size: 18px;
  height: 50px;
}
.total .button.large {
  padding: 0 35px;
}
/* Button bootstrap overrides */
.btn-group-lg>.btn, .btn-lg {
  border-radius: 3px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 15px;
}

.button.gainsboro,
button.gainsboro {
  color: $primary-gray;
  border-color: #a9a9a9;
}
.button.darkgray,
button.darkgray {
  color: #fff;
  border-color: $primary-gray;
}
.button .add-on-left,
button .add-on-left {
  padding: 5px 11px 5px 0;
  margin-right: 10px;
  border-right: 1px solid #fff;
}
.button .add-on-left i,
button .add-on-left i {
  position: relative;
  top: 2px;
  font-size: 15px;
}

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block;
}
input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: #efefef;
  min-height: 20px;
  padding: 0 10px;
}
input.form-control {
  background: #efefef;
}


/* kludgy hack to fix contact page hubspot form... https://devstandishsalongoods.3dcartstores.com/contact-us.html */
/*
.hs-form .clearfix:after, .hs-form .field:after, .hs-form .hs-form-field:after {
  display: inline !important;
}
*/

/* ~~~ Hubspot Stuff ~~~ */
.hs-input {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.25em;
}

.hbspt-form li {
  list-style: none;
}
.hbspt-form li input {
  margin-right: 10px;
}
textarea.hs-input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: #efefef;
  min-height: 20px;
  padding: 0 10px;
  line-height: 1.5em;
}
.main_content .hbspt-form {
  background: $hbspt-form-bkg;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 40px 40px 40px;
  float: left;
  border-bottom: 1px solid $primary-gray;
}

.main_content .hbspt-form .hs-form-field, .main_content .hbspt-form .hs_submit {
  width: 100%;
  margin: 0 auto 30px auto;
  float: none;
}

.hs-form-field {
  margin-bottom: 30px;
}

.hs-form.stacked label {
  
}

.hbspt-form .hs-form.stacked .actions {
  margin: 0;
  padding: 0;
}

.hbspt-form .multi-container {
  padding-left: 22px;
}

.product-form input[type=file] {
  float: right;
  width: 283px;
  padding: 5px;
  margin-bottom: 12px;
}
