

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
.hidden {
  display: none;
}
body {
  @extend .default;
  /* font-family: sans-serif; */
/* 1 */
  -ms-text-size-adjust: 100%;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 2 */
}
html {
  @extend .default;
  /* font-family: sans-serif; */
/* 1 */
  -ms-text-size-adjust: 100%;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  color: $primary-gray;
  font-family: $default-font;
}
html,
body {
  font-size: 100%;
}
.container-fluid, .no-padd {
  padding: 0px;
}

a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
hr.dark {
  border-top: 1px solid $light-gray;
}
label, .label {
  font-weight: normal;
  color: inherit;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
/* Medium Devices, Desktops */
@media only screen and (min-width : $medium) {
  .pull-right-md {
    float: right!important;
  }
}

.indent {
  padding-left: 10px;
}
.hide {
  display: none;
}
.table .table.alternative, .table.alternative {
  background-color: #EFEFEF;
}
.borderless td, .borderless th {
  border: none;
}
.borderless .table>tbody>tr>td,
.borderless .table>tbody>tr>th,
.borderless .table>tfoot>tr>td,
.borderless .table>tfoot>tr>th,
.borderless .table>thead>tr>td,
.borderless .table>thead>tr>th {
  border: none;
}
.hr {
  margin: 10px 0;
  border-bottom: 1px solid #dcdcdc;
}
.padd-block {
  padding: 10px;
}
.padd-top {
  padding-top: 15px;

}
.padd-bottom-10 {
  padding-bottom: 10px;
}
.padd-left {
  padding-left: 10px;
}

.top-margin {
  margin-top: 15px;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.margin-none {
  margin: 0;
}

.transparent {
  background: transparent none;
}

.breadcrumb {
  background: transparent none;
/*   margin-bottom: 40px; */
  a {
    text-decoration: underline;
  }
}

.cycle-slideshow .cycle-slide {
  width: 100%;
}
.corner-tag {
  width: 75px;
  height: 75px;
  background: url("/assets/templates/standish-responsive/images/CornerTag.svg");
  position: relative;
  top: 74px;
  left: 4px;
  z-index: 100;
}
.promo {
  margin-bottom: 40px;
}
.promo .background {
  height: 350px;
  width: 380px;
  float: left;
  position: relative;
}
.promo .background.gainsboro {
  width: 560px;
}
.promo button {
  margin: 10px auto;
  display: block;
}
.promo a {
  font-size: 12px;
  color: #a9a9a9;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 12px;
  bottom: 10px;
}
.login-title {
  text-align: center;
  margin: 25px 0 50px 0;
}
.login-box {
  margin: 20px 0;
  background: #efefef;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  min-height: 410px;
}
.login-box h5 {
  padding: 0 10px 25px 10px;
  border-bottom: 1px solid #dcdcdc;
}
.login-box p.signup-text {
  padding-left: 105px;
  padding-right: 105px;
  font-size: 17px;
  line-height: 1.5;
}
.login-box p {
  padding: 30px;
}
.create-account button {
  color: #fff;
  @extend .narrow;
}
.create-account .login form {
  margin: 40px 70px;
  @extend .narrow;
  text-align: left;
}
.create-account .login form a {
  float: right;
  margin: 10px 0 15px 0;
}
.create-account .login form label {
  margin: 10px 0 5px 0;
}
.create-account .login button {
  width: 100%;
}
.create-account .login input {
  width: 294px;
  padding: 10px 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}


.pagination {
  margin: 0 auto 0 auto;
  .btn {
    display: block;
    float: left;
    background: #fff;
    min-width: 40px;
    min-height: 30px;
    line-height: 30px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    &.first {
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      border-left: 1px solid #dcdcdc;
    }
    &.last {
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
    }
    &.active {
      background: #dcdcdc;
    }
  }
}
.search-container {
  padding-bottom: 10px;
}

.page_headers,
.checkout-headers {
  font-family: 'PT Serif', 'Times New Roman', Times, serif;
  font-weight: 700;
  line-height: 1.25;
  font-size: 32px;
}
.alternative {
  border-collapse: separate !important;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  @extend .default;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 15px;
}
.alternative td {
  padding: 6px;
}
.alternative input {
  background: #fff;
}
.alternative input[type=submit],
.alternative input[type=button] {
  background-color: $primary-color;
}
.checkout-headers {
  font-size: 24px;
  padding-bottom: 10px;
}

.left-bar {
  min-height: 800px;
}

.left-bar ul {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
  position: relative;
}
.left-bar .allcaps {
  margin: 10px 0 0 0;
}
.left-bar a {
  text-decoration: none;
  color: #a9a9a9;
}
.left-bar a:hover {
  font-weight: bold;
  color: $primary-color;
}
.sharebox {
  background: #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 5px 29px;
}
.sharebox * {
  display: inline;
}
.sharebox .like {
}
.sharebox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fb_iframe_widget {
  top: -5px;
}
.fb-like span {
  width: 50px !important;
  overflow: hidden;
}
li.email {
  position: relative;
  top: -6px;
}

.fancy-select.wide {
  float: right;
  margin-right: 0;
  width: 180px;
}
.fancy-select.wide select {
  width: 210px;
}

body .vex.vex-theme-flat-attack .vex-content {
  padding-bottom: 1em;
}


/* Blog stuff */
.blog-item.panel .panel-body {
  padding: 15px 0;
}

.blog-nav li {
  padding-top: 3px;
}
.blog-nav ul {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
}
.blog-nav .allcaps {
  margin: 10px 0 0 0;
}
.blog-nav a {
  text-decoration: none;
  color: #a9a9a9;
}
.blog-nav a:hover {
  font-weight: bold;
  color: $primary-color;
}


/* cycle pager */
.cycle-pager { 
    text-align: right;
    width: 100%;
    z-index: 500;
    position: absolute;
    overflow: hidden;
    right: 20px;
    top: 0;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #fff; cursor: pointer;
    text-shadow: 1px 1px 2px $primary-gray;
    padding: 0 2px 0 0;
}
.cycle-pager span.cycle-pager-active { color: $secondary-color;}
.cycle-pager > * { cursor: pointer;}

.tools-menu .column ul {
  /*height: 230px;*/
}
.shop-menu .column ul {
  height: 354px;
}
.equipment-menu .column ul {
  /*height: 322px;*/
}

.newsletter-signup .hs-form fieldset {
  margin: 0 auto;
}


/* ~~~~ Category Side Menu Styles ~~~~*/

#catframe a {
  color: $primary-gray;
  font-size: .9em;
}
#catframe ul {
  padding: 0;
  list-style-type: none;
}
#catframe ul li {
/*  border-bottom: 1px solid #dcdcdc; */
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 14px;
}
#catframe .indent {
  list-style-type: circle;
  list-style-position: inside;
}

.blog img {
  max-width: 700px;
  padding-bottom: 20px;
}

.blog .item {
  font-style: italic;
  padding-bottom: 10px;
  margin-top: -20px;
}

.blog h3 {
  margin-top: 40px;
}

.blog h3:first-child {
  margin-top: 0px;
}

#category-sidebar {
  .img-banner {
    padding: 10px 0;
  }
}

