

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
.hidden {
  display: none;
}
body {
  @extend .default;
  /* font-family: sans-serif; */
/* 1 */
  -ms-text-size-adjust: 100%;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 2 */
}
html {
  @extend .default;
  /* font-family: sans-serif; */
/* 1 */
  -ms-text-size-adjust: 100%;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  color: $primary-gray;
  font-family: $default-font;
}
html,
body {
  font-size: 100%;
}
.container-fluid, .no-padd {
  padding: 0px !important;
}

a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
hr.dark {
  border-top: 1px solid $light-gray;
}
label, .label {
  font-weight: normal;
  color: inherit;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
.popover {
  z-index: 999;
}
/* Medium Devices, Desktops */
@media only screen and (min-width : $medium) {
  .pull-right-md {
    float: right!important;
  }
}
@media only screen and (max-width : $medium) {
  .text-center-mobile {
    text-align: center!important;
  }
}

.indent {
  padding-left: 10px;
}
.hide {
  display: none;
}
.table .table.alternative, .table.alternative {
  background-color: #EFEFEF;
}
.borderless td, .borderless th {
  border: none;
}
.borderless .table>tbody>tr>td,
.borderless .table>tbody>tr>th,
.borderless .table>tfoot>tr>td,
.borderless .table>tfoot>tr>th,
.borderless .table>thead>tr>td,
.borderless .table>thead>tr>th {
  border: none;
}
.hr {
  margin: 10px 0;
  border-bottom: 1px solid #dcdcdc;
}
.padd-none {
  padding: 0px !important;
}
.padd-block {
  padding: 10px !important;
}
.padd-top {
  padding-top: 15px !important;
}
.padd-bottom-10 {
  padding-bottom: 10px;
}
.padd-left {
  padding-left: 10px;
}

.top-margin {
  margin-top: 15px;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.margin-none {
  margin: 0;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.transparent {
  background: transparent none;
}

/* Arrow Box */
.arrow_box {
  position: relative;
  background: $xlightGrey;
  border: 1px solid darken($xlightGrey, 10%);
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 80%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(darken($xlightGrey, 10%), 0);
  border-top-color: $xlightGrey;
  border-width: 21px;
  margin-left: -21px;
}
.arrow_box:before {
  border-top-color: darken($xlightGrey, 10%);
  border-width: 22px;
  margin-left: -22px;
}

div[classname="searchlight-balloon"] {

}


.breadcrumb {
  background: transparent none;
/*   margin-bottom: 40px; */
  a {
    text-decoration: underline;
  }
}
.popover.dark {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  width: 300px;
  &.right {
    &>.arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: rgba(0, 0, 0, 0.5);
      &:after {border-right-color: rgba(0, 0, 0, .05);}
    }

  }
  
}
.inputs-list {
  list-style-type: none;
}
.remove-perhaps {
  display: none;
}
.cycle-slideshow .cycle-slide {
  width: 100%;
}
.corner-tag {
  width: 75px;
  height: 75px;
  background: url("/assets/templates/standish-responsive/images/CornerTag.svg");
  position: relative;
  top: 74px;
  left: 4px;
  z-index: 100;
}
.promo {
  margin-bottom: 40px;
}
.promo .background {
  height: 350px;
  width: 380px;
  float: left;
  position: relative;
}
.promo .background.gainsboro {
  width: 560px;
}
.promo button {
  margin: 10px auto;
  display: block;
}
.promo a {
  font-size: 12px;
  color: #a9a9a9;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 12px;
  bottom: 10px;
}
.login-title {
  text-align: center;
  margin: 25px 0 50px 0;
}
.login-box {
  margin: 20px 0;
  background: #efefef;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  min-height: 410px;
}
.login-box h5 {
  padding: 0 10px 25px 10px;
  border-bottom: 1px solid #dcdcdc;
}
.login-box p.signup-text {
  padding-left: 105px;
  padding-right: 105px;
  font-size: 17px;
  line-height: 1.5;
}
.login-box p {
  padding: 30px;
}
.create-account button {
  color: #fff;
  @extend .narrow;
}
.create-account .login form {
  margin: 40px 70px;
  @extend .narrow;
  text-align: left;
}
.create-account .login form a {
  float: right;
  margin: 10px 0 15px 0;
}
.create-account .login form label {
  margin: 10px 0 5px 0;
}
.create-account .login button {
  width: 100%;
}
.create-account .login input {
  width: 294px;
  padding: 10px 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.pagination {
  margin: 0 auto 0 auto;
  .btn {
    display: block;
    float: left;
    background: #fff;
    min-width: 40px;
    min-height: 30px;
    line-height: 30px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    &.first {
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      border-left: 1px solid #dcdcdc;
    }
    &.last {
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
    }
    &.active {
      background: #dcdcdc;
    }
  }
}
.search-container {
  padding-bottom: 10px;
}

.page_headers,
.checkout-headers {
  font-family: 'PT Serif', 'Times New Roman', Times, serif;
  font-weight: 700;
  line-height: 1.25;
  font-size: 32px;
}
.alternative {
  border-collapse: separate !important;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  @extend .default;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 15px;
}
.alternative td {
  padding: 6px;
}
.alternative input {
  background: #fff;
}
.alternative input[type=submit],
.alternative input[type=button] {
  background-color: $primary-color;
}
.checkout-headers {
  font-size: 24px;
  padding-bottom: 10px;
}

.left-bar {
  min-height: 800px;
}
#left-bar-testimonials {
  margin-left: -15px;
}

#chat-modal-hannah {
  .modal-header {
    border-bottom: 0 none;
  }
}

.inputs-list.multi-container {
  list-style: none;
  padding:0!important;

  label {
    span {
      padding-left: 10px;
    }
  }

}

.left-bar ul {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
  position: relative;
}
.left-bar .allcaps {
  margin: 10px 0 0 0;
}
.left-bar a {
  text-decoration: none;
  color: #a9a9a9;
}
.left-bar a:hover {
  font-weight: bold;
  color: $primary-color;
}

.tooltip-arrow,
.standish-tooltip + .tooltip > .tooltip-inner {
  background-color: $light-gray;
}

.sharebox {
  background: #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 5px 29px;
}


.sharebox * {
  display: inline;
}
.sharebox .like {
}
.sharebox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fb_iframe_widget {
  top: -5px;
}
.fb-like span {
  width: 50px !important;
  overflow: hidden;
}
li.email {
  position: relative;
  top: -6px;
}

.fancy-select.wide {
  float: right;
  margin-right: 0;
  width: 180px;
}
.fancy-select.wide select {
  width: 210px;
}

.inline {
  display: inline;
}
.play-button {
  background: rgba($salmon-highlight, .7);
  top: 36%;
  left: 36%;
  width: 25%;
  padding: 2% 22%;
  padding-left: 10%;

  &:before {
    color: white;
  }
}


body .vex.vex-theme-flat-attack .vex-content {
  padding-bottom: 1em;
}


/* Blog stuff */
.blog-item.panel .panel-body {
  padding: 15px 0;
}

.blog-nav li {
  padding-top: 3px;
}
.blog-nav ul {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
}
.blog-nav .allcaps {
  margin: 10px 0 0 0;
}
.blog-nav a {
  text-decoration: none;
  color: #a9a9a9;
}
.blog-nav a:hover {
  font-weight: bold;
  color: $primary-color;
}


/* cycle pager */
.cycle-pager { 
    text-align: right;
    width: 100%;
    z-index: 500;
    position: absolute;
    overflow: hidden;
    right: 20px;
    top: 0;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #fff; cursor: pointer;
    text-shadow: 1px 1px 2px $primary-gray;
    padding: 0 2px 0 0;
}
.cycle-pager span.cycle-pager-active { color: $secondary-color;}
.cycle-pager > * { cursor: pointer;}

.tools-menu .column ul {
  /*height: 230px;*/
}
.shop-menu .column ul {
  height: 354px;
}
.equipment-menu .column ul {
  /*height: 322px;*/
}

.newsletter-signup .hs-form fieldset {
  margin: 0 auto;
}

.hs-form {
  margin-bottom: 0 !important;
}


/* ~~~~ Category Side Menu Styles ~~~~*/

#catframe a {
  color: $primary-gray;
  font-size: .8em;
}
#catframe ul {
  padding: 0;
  list-style-type: none;
}
#catframe ul li {
/*  border-bottom: 1px solid #dcdcdc; */
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 14px;
}
#catframe .indent {
  list-style-type: circle;
  list-style-position: inside;
}

.blog img {
  max-width: 700px;
  padding-bottom: 20px;
}

.blog .previewimage {
  max-width: 100%;
}

.blog .item {
  font-style: italic;
  padding-bottom: 10px;
}

.blog h3 {
  margin-top: 40px;
}

.blog h3:first-child {
  margin-top: 0px;
}

#category-sidebar {
  .img-banner {
    padding: 10px 0;
  }
}

// WISHLIST
// --------------------------------------------------
#action-section {
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  padding: 10px;
}

.account-title-wishlist {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wishlistView .titles2 {
  padding: 15px;

}

.listing-wl {
  padding: 3em 0;
}


// Popover
// --------------------------------------------------

.popover-title {
  text-transform: uppercase;
  h3 {
    color: $light-gray;
    font-weight: normal;
  }
}

// Homepage
// --------------------------------------------------

#hoz-slider-container {
  z-index: 0;
}

#homepage-badges-list {
  margin-right: 0;
  width: 100%;
  border: 0 none;
  position: relative;
  -webkit-border-radius: 3px;
  background: transparent none;
  height: 3.2rem;


  
  .badge-home {
    height: initial;
    margin: 10px auto;
    text-align: center;
    i {
      display: inline-block;
      float: none;
    }
    .badge-text {
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 10px 0 0;
    }
  }
}

.homepage-brands, .slick-slider {
  .slick-next, .slick-prev {
    border-radius: 0;
    height: 50px;
    width: 50px;
    top: 30px;
    color: white;
    background: $salmon-highlight !important;
    border: 0 none;
    margin-top: 0;
  }

  .slick-next {
    right: 0;
    z-index: 1;

    &:before {
      color: white;
      // Example
      @include icon("f054");
      font-family: FontAwesome !important;
    }
  }
  .slick-prev {
    left: 0;
    z-index: 1;

    &:before {
      color: white;
      font-family: FontAwesome !important;
      @include icon("f053");
    }
  }

}

@mixin gradientGen($color1) {
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top,  lighten($color1, 10%) 0%,  lighten($color1, 5%) 12%, $color1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  lighten($color1, 10%) 0%, lighten($color1, 5%) 12%, $color1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  lighten($color1, 10%) 0%, lighten($color1, 5%) 12%, $color1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($color1, 5%)', endColorstr='$color1',GradientType=0 ); /* IE6-9 */
}

@mixin gradientGenThreeStop($color1, $color2, $color3) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#97c3b6+0,ced8ac+50,98ba9a+100 */
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top,  $color1 0%, $color2 50%,  $color3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $color1 0%,$color2 50%, $color3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $color1 0%,$color2 50%, $color3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color3',GradientType=0 ); /* IE6-9 */
}



/// ---- Mobile Menu Bottom ---- ///
body.sidr-open { 
  position: fixed !important;
}

body:not(.sidr-open) div#mobile-menu-modal {
  left: 0;
}

@media only screen and (max-width : $tablet) {
  #mobile-menu-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 99999;

    // call 97c3b6 to ced8ac to 98ba9a
    // Email Us 843d6e to fbbc85 to 63477a
    // Text c28170 to 87648b to f69672
    // financing 827c81 to 9cb2b0 to 827c81

    .close-icon {
      position: absolute;
      top: -1.25em;
      right: 1em;
      width: 3em;
      height: 3em;
      text-align: center;
      color: white;
      font-weight: bold;
    }

    #rainbow-hamburger {
      background:white;
      .hamburger-item {
        //height: 3rem;
        text-align: center;
        color: #f5f8dd;
        padding: .8em 0;
        a {
          color: #f5f8dd;
        }
        .hamburger-text {
          font-size: 1.5em;
        }
      }

      #call-us {
        @include gradientGenThreeStop(#97c3b6, #ced8ac, #98ba9a);
      }
      #text-hannah {
        @include gradientGenThreeStop(#db9c7a, #fbbc85, #f69372);
      }
      #email-us {
        @include gradientGenThreeStop(#8b4476, #8b638a, #6b4e7d);
      }
      #get-financing {
        @include gradientGenThreeStop(#878689, #9cb1b0, #828b8b);
      }
    }

    div#fixed-bottom {
      float: left;
      width: 100%;
      background: #60437D;
    }

    ul.fixed-bottom-menu {
      margin: 0;
      padding: 0;

      li {
        @include gradientGen($hello-bar-bkg-color);
        color: white;
        display: block;
        float: left;
        width: 20%;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        border-right: 1px solid $hello-bar-bkg-color;

        a, a:hover {
          color: white;
        }

        &:last-of-type {
          border-right: 0 none;
        }

        .menu-bottom-small {
          text-transform: uppercase;
          font-size: 10px;
          display: block;
          width: 100%;
        }
      }
    }
  }
}

/* Front Page */
@media only screen and (max-width : $tablet) {
  .hannah-chat {
    display: none;
  }
}
@media only screen and (max-width : 500px) {
  .tab-row-inner:before, .tab-row-inner:after, .tab-row-inner {
    display: none;
  }
}
.hannah-chat {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 30%;
}
.tab-row {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
  position:relative;
}
.tab-row:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.tab-row:before {
  z-index: 1;
}
.tab-row-inner {
  left: 0;
  z-index: 0;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  width: 92%;
  box-sizing: border-box;
}
.tab-row-inner-bottom {
  padding: 0 10px;
  background: #60437D;
  display: inline-block;
  z-index: 0;
  float: left;
  margin-top: 61px;
  width: 22%;
  height: 14px;
  vertical-align: bottom;
  border-top-right-radius: 15px;
  right: 0;
}

.tab-row-inner:before,
.tab-row-inner:after {
  position: absolute;
  bottom: 1px;
  width: 6px;
  height: 6px;
  content: " ";
}
.tab-row-inner:before {
  left: -6px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #60437d;
}

.tab-row-inner:after {
  right: -10px;
  top: 57px;
  border-bottom-left-radius: 17px;
  border-width: 2px;
  width: 11px;
  border-color: #60437d;
  border-bottom-style: solid;
  border-left-style: solid;
}
.no-padding { padding:0; }

#chat-modal-hannah {
  z-index: 9999;
}

