
.header {
  width: 100%;
  .container {
    min-height: 97px;
    & > div {
      &.button-container {
        margin-top: 20px;
      }
    }
  }

}

.logo {
  display: block;
  background: url("/assets/templates/standish-responsive/images/standish-logo.png");
  background-repeat: no-repeat;
  width: 277px;
  height: 34px;
  text-indent: -9999em;
  position: relative;
  top: -12px;
  left: -25px;
}
.credentials {
  background: url(/assets/templates/standish-responsive/images/credentials.png);
  width: 100%;
  position: absolute;
  background-size: contain;
  height: 40px;
  background-repeat: no-repeat;
  left: -34px;
  top: 44px;
}

.logo-footer {  
  text-indent: -9999em;
  float: none;
  display: inline-block;
}
header button.cart {
  margin-right: 0;
  padding-right: 0;
}
button.cart i {
  font-size: 1.250rem;
  padding-right: 12px;
}
.cart-number {
  margin-left: 18px;
  background-color: $btn-highlight;
  padding: 13px 18px;
  border-radius: 0px 3px 3px 0;
}
.navigation {
  background-color: $neutral-dark;
  text-transform: capitalize;
  border-radius: 0;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-left: 1px solid $primary-gray;
}
.navigation li {
  display: inline-block;
  margin: 0;
  line-height: 60px;
  height: 60px;
  position: relative;
}
.navigation ul.nav-menu > li {
  border-right: 1px solid $primary-gray;
}
.navigation ul.nav-menu > li > a {
  padding: 0 12px;
}
.navigation a {
  font-size: .8em;
  color: #fff;
  display: inline-block;
/*   padding: 0 37px 0 34px; */
/*   padding: 0 22px; */
  padding: 0 19px;
/*  padding: 0 16px; */
  /* padding: 0 14px; */
  text-decoration: none;
}
.navigation ul ul {
/*   font-weight: 700; */
  background-color: $primary-gray;
  display: none;
  float: left;
  position: absolute;
  top: 60px;
  padding: 21px 0 20px 0;
  left: 0;
  z-index: 19;
  width: 250px;
}
.navigation li li {
  display: block;
  height: auto;
  margin: 0;
  line-height: 20px;
}
.navigation ul ul ul {
  left: 100%;
  top: -20px;
  background: #5e5e5e;
  font-weight: normal;
}
.navigation ul ul ul a {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: normal;
}
.navigation ul ul ul a:hover {
  color: $secondary-color;
}
.navigation ul ul a {
  min-width: 170px;
  line-height: 16px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $secondary-color;
  padding: 4px 25px;
}
.navigation li:hover > a {
  color: $highlight-color;
}
.navigation li li:hover > a {
  color: $secondary-color;
}
.navigation ul ul a:hover {
  color: #fff;
}
.navigation ul li:hover > ul,
ul.nav-menu li:hover > div ul {
  display: block;
}
.navigation li li.allcaps {
  a {
    padding-top: 10px;
  }
}
.navigation li li.allcaps > a:link,
.navigation li li.allcaps > a:visited {
  font-weight: 700;
/*  color: $primary-color-btn-highlight; */
  color: #fff;
}

.navigation li li.allcaps > a:hover {
  color: $highlight-color;
}

.navigation li.current_page_item > a,
.navigation li.current-menu-item > a {
  color: #5ff23d;
}
.navigation li.far {
  border: 0 none !important;
}

.col2 {
  position: absolute;
  left: 222px;
  top: 0;
}
.col3 {
  position: absolute;
  left: 444px;
  top: 0;
}
.col4 {
  position: absolute;
  left: 666px;
  top: 0;
}

li.far a:hover {
  color: #fff;
}
li.far a {
  color: #a9a9a9;
  padding: 0 0px 0 14px !important;
}
li.first.far a {
  padding: 0 0px 0 14px;
}
.search {
  .input-group-btn>.btn {
    position: absolute;
  }
  button, .button {
    background: transparent none;
    
    z-index: 2;
    top: 0;
    height: 100%;
    border: 0 none;

    &:hover, &:focus {
      border: 0 none;
    }
  }
  input {
    font-size: 14px;
    color: #a9a9a9;
    background-color: #efefef;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    width: 200px;
    min-height: 27px;
  }
}


/// Layout padding for top bar -- make sure that there is paddingin desktop but not mobile
@media only screen and (min-width : $medium+1) {
  .container.search-container {margin-bottom: 10px;}

}

@media only screen and (max-width : $medium) {

  .right-side.padd-top {padding-top: 0;}

}



.search-button {
  font-size: 16px;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 2px 12px;
}

.input-group.form-group-lg .search-button {
  padding: 10px 25px;
  font-size: 17px;
}
.panel {
  padding: 10px;
}


.navigation ul ul a span,
.cat span {
  background: $highlight-color;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  color: $primary-gray;
}
.cat span {
  position: absolute;
  left: -62px;
  top: 2px;
}
.navigation ul ul a span {
  position: absolute;
  padding: 2px 2px 0px 2px;
  top: 2px;
}

.hello-container {
  padding-top: 10px;
  a, p, div {
    @extend .special;
    color: lighten($primary-gray, 10%);
    font-weight: 100;
  }
}

.hello-container {
  background-color: $accent-color;
  z-index: 20;
  box-shadow: 0 0 2px 0 white;
  color: black;
  height: 60px;
  right: 0px;
}
.hello.container, .hbar_content {
  height: 100%;
  vertical-align: middle;
  position:relative;
  p {

    display: inline;
  }
}


.hello-tag {
  position: absolute;
  top: 19px;
  left: 0;
}
.hello-icon {
  display: inline-block;
  top: 0;
  float: left;
  left: -24px;
  position: relative;
}
.hello-tab {
  background: #f5f5dc;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: -5px;
  right: 100px;
  z-index: 1;
}
.hello-tab i {
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 7px;
}

// Rotator STYLES

#slickShow {
  margin-top: 2.3rem;
  .slide-option-text {
    font-size: .9rem;
    color: lighten($primary-gray, 20%)
  }
  .fa-lg {
    font-size: 1.5em;
    padding-right: 0.2em;
  }
}

