
.header {
  width: 100%;
  .container {
    min-height: 97px;
    & > div {
      &.button-container {
        margin-top: 2em;
      }
    }
  }

}

.sidr-inner {
  li:first-of-type {
    font-weight: bold;
  }
}

.credentials-icons {
  padding-left: 0;

  .credentials-logo {
    height: 42px;
    display: inline-block;

    &.header-norton {
      width: 77px;
      @include sprite($norton);
    }
    &.header-boa {
      width: 46px;
      @include sprite($boa);
    }
    &.header-ss {
      width: 76px;
      @include sprite($ss);
    }
    &.header-pba {
      width: 37px;
      @include sprite($pba);
    }
    &.header-bravo {
      width: 42px;
      @include sprite($bravo);
    }
    &.header-bbb {
      width: 79px;
      @include sprite($bbb);
    }
  }
}

.logo {
  display: block;
  background: url("/assets/templates/standish-responsive/images/standish-logo.png");
  background-repeat: no-repeat;
  width: 310px;
  text-indent: -9999em;
  position: relative;
  margin-bottom: 0;
  left: -10px;
}

.credentials {
  background: url('/assets/templates/standish-responsive/images/credentials.png');
  width: 100%;
  background-size: contain;
  height: 50px;
  background-repeat: no-repeat;
  left: -34px;
}

.logo-footer {  
  text-indent: -9999em;
  float: none;
  display: inline-block;
}
header button.cart {
  margin-right: 0;
  padding-right: 0;
}
button.cart i {
  font-size: 1.250rem;
  padding-right: 12px;
}
.cart-number {
  margin-left: 18px;
  background-color: $btn-highlight;
  padding: 14px 18px;
  border-radius: 0px 3px 3px 0;
}
.navigation {
  background-color: $neutral-dark;
  text-transform: capitalize;
  border-radius: 0;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-left: 1px solid $primary-gray;
}
.navigation li {
  display: inline-block;
  margin: 0;
  line-height: 60px;
  height: 60px;
  position: relative;
}
.navigation ul.nav-menu > li {
  border-right: 1px solid $primary-gray;
}
.navigation ul.nav-menu > li > a {
  padding: 0 16px;
}
.navigation a {
  color: #fff;
  display: inline-block;
  font-size: .9em;
  /*   padding: 0 37px 0 34px; */
  /*   padding: 0 22px; */
  padding: 0 19px;
  /*  padding: 0 16px; */
  /* padding: 0 14px; */


  text-decoration: none;
  &.standishyellow-text {
    color: $highlight-color;
  } 

  &.coral-text {
    color: $primary-color;
  }
}
.navigation ul li.brand-menu {
  .column ul {width: 162px;}
  .col2 {
    left: 161px;
  }
  .col3 {
    left: 321px;
  }
  .col4 {
    left: 480px;
    z-index: 20;
  }
  .col5 {
    left: 642px;
   ul {width: 210px;}
  }

}
.navigation ul ul {
/*   font-weight: 700; */
  background-color: $primary-gray;
  display: none;
  float: left;
  position: absolute;
  top: 60px;
  padding: 21px 0 20px 0;

  left: 0;
  z-index: 19;
  width: 250px;
}
.navigation li li {
  display: block;
  height: auto;
  margin: 0;
  line-height: 20px;
}
.navigation ul ul ul {
  left: 100%;
  top: -20px;
  background: #5e5e5e;
  font-weight: normal;
}
.navigation ul ul ul a {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: normal;
}
.navigation ul ul ul a:hover {
  color: $secondary-color;
}
.navigation ul ul a {
  min-width: 170px;
  line-height: 16px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $secondary-color;
  padding: 4px 25px;
}
.navigation li:hover > a {
  color: $highlight-color;
}
.navigation li li:hover > a {
  color: $secondary-color;
}
.navigation ul ul a:hover {
  color: #fff;
}
.navigation ul li:hover > ul,
ul.nav-menu li:hover > div ul {
  display: block;
}
.navigation li li.allcaps {
  a {
    padding-top: 10px;
  }
}
.navigation li li.allcaps > a:link,
.navigation li li.allcaps > a:visited {
  font-weight: 700;
/*  color: $primary-color-btn-highlight; */
  color: #fff;
}

.navigation li li.allcaps > a:hover {
  color: $highlight-color;
}

.navigation li.current_page_item > a,
.navigation li.current-menu-item > a {
  color: #5ff23d;
}
.navigation li.far {
  border: 0 none !important;
}
.menu-feature {
  padding: 3px;
  border-radius: 3px;
}

.col2 {
  position: absolute;
  left: 222px;
  top: 0;
}
.col3 {
  position: absolute;
  left: 444px;
  top: 0;
}
.col4 {
  position: absolute;
  left: 666px;
  top: 0;
}
.col5 {
  position: absolute;
  left: 888px;
  top: 0;
}

li.far a:hover {
  color: #fff;
}
li.far a {
  color: #a9a9a9;
  padding: 0 0px 0 14px !important;
}
li.first.far a {
  padding: 0 0px 0 14px;
}
.search {
  .input-group-btn>.btn {
    position: absolute;
  }
  button, .button {
    background: transparent none;
    z-index: 2;
    top: 0;
    height: 100%;
    border: 0 none;
    &:hover, &:focus {
      border: 0 none;
    }
  }
  .input-group {
    border: 10px solid #DEDEDE;
    margin-left: -10px;
    margin-right: -10px;
  }
  input {
    font-size: 14px;
    color: $dark-text;
    border: 1px solid $dark-text;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    width: 200px;
    min-height: 27px;
  }
}


/// Layout padding for top bar -- make sure that there is paddingin desktop but not mobile
@media only screen and (min-width : $medium+1) {
  .container.search-container {margin-bottom: 10px;}

}

@media only screen and (max-width : $medium) {

  .right-side.padd-top {padding-top: 0;}

}

.sidr-class-fa.sidr-class-fa-phone {
  &:before { 
    content: "\f095";
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
  }
}

.search-button {
  font-size: 16px;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 2px 12px;
}

.input-group.form-group-lg .search-button {
  padding: 10px 25px;
  font-size: 17px;
}
.panel {
  padding: 10px;
}


.navigation ul ul a span,
.cat span {
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 10px;
}
.cat span {
  color: $primary-gray;
  background: $highlight-color;
}

.cat span {
  position: absolute;
  left: -62px;
  top: 2px;
}
.navigation ul ul a span {
  position: absolute;
  padding: 2px 2px 0px 2px;
  top: 2px;
}

.hello-container {
  padding-top: 18px;
}

.hello-container {
  background: $hello-bar-bkg-color url('/assets/templates/standish-responsive/images/congruent-pentagon-pattern-long.jpg') repeat-x;
  z-index: 20;
  box-shadow: 0 0 2px 0 white;
  color: black;
  height: 60px;
  right: 0px;
}
.hello.container, .hbar_content {
  height: 100%;
  vertical-align: middle;
  position:relative;
  p {

    display: inline;
  }
}
.hbar_content { 
  svg {
    margin-bottom: -7px;
    margin-left: 5px;
    margin-right: 5px;
  }

}

.hello-tag {
  position: absolute;
  top: 19px;
  left: 0;
}
.hello-icon {
  display: inline-block;
  top: 0;
  float: left;
  left: -24px;
  position: relative;
}
.hello-tab {
  background: #f5f5dc;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: -5px;
  right: 100px;
  z-index: 1;
}
.hello-tab i {
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 7px;
}

// Rotator STYLES

#slickShow {
  margin-top: 2.6rem;
  .slide-option-text {
    font-size: .9rem;
    color: lighten($primary-gray, 20%)
  }
  .fa {
    font-size: 18px;
    padding-right: 0.2em;
  }
}

