
/* Product and Category Pages */

.ge-free-shipping span, .badge-free-shipping em {
  background-position: 0 0;
}

.popover {
  z-index: 2;
}

.tooltip-badges [class^="badge-"] i,
.tooltip-badges [class*="badge-"] i,
.tooltip-badges [class^="badge-"] span,
.tooltip-badges [class*="badge-"] span,
.tooltip-badges [class^="badge-"] em,
.tooltip-badges [class*="badge-"] em {
  -webkit-background-size: 240px;
  -moz-background-size: 240px;
  background-size: 240px;
}

.tooltip-badges .badge-product {
  width: 100%;
}
.tooltip-badges .badge-text{
  color: white;
}

.tooltip-badges .badge-made-usa i, .tooltip-badges .badge-made-usa:hover i {
  background: url("/assets/templates/standish-responsive/images/made-usa-badge.png");
  background-repeat: no-repeat;
  background-size: 100%;
} 

.tooltip-badges .badge-warranty i, .tooltip-badges .badge-warranty:hover i {
  @include sprite($warranty);
}
.tooltip-badges .badge-service i, .tooltip-badges .badge-service:hover i {
  @include sprite($service);
}
.tooltip-badges .badge-heavy-duty i, .tooltip-badges .badge-heavy-duty:hover i {
  @include sprite($heavy-duty);
}
.tooltip-badges .badge-no-sales-tax i, .tooltip-badges .badge-no-sales-tax:hover i {
  @include sprite($no-sales-tax);
}
.tooltip-badges .badge-returns i, .tooltip-badges .badge-returns:hover i {
  @include sprite($returns);
}
.tooltip-badges .badge-inspected i, .tooltip-badges .badge-inspected:hover i {
  @include sprite($inspected);
}
.tooltip-badges .badge-iron-life i, .tooltip-badges .badge-iron-life:hover i {
  @include sprite($inspected);
}
.tooltip-badges .badge-iron-life i, .tooltip-badges .badge-iron-life:hover i {
  @include sprite($inspected);
}
.tooltip-badges .badge-color i, .tooltip-badges .badge-color:hover i {
  @include sprite($color);
}
.tooltip-badges .badge-hardwood i, .tooltip-badges .badge-hardwood:hover i {
  @include sprite($hardwood);
}
.tooltip-badges .badge-extra-wide i, .tooltip-badges .badge-extra-wide:hover i {
  @include sprite($extra-wide);
}
.tooltip-badges .badge-double-stitched i, .tooltip-badges .badge-double-stitched:hover i {
  @include sprite($double-stitched);
}
.tooltip-badges .badge-free-shipping i, .tooltip-badges .badge-free-shipping:hover i {
  @include sprite($free-shipping);
}
.tooltip-badges .badge-fire-retardant i, .tooltip-badges .badge-fire-retardant:hover i {
  @include sprite($fire-retardant);
}
.tooltip-badges .badge-ten-thousand-rub i, .tooltip-badges .badge-ten-thousand-rub:hover i {
  @include sprite($ten-thousand-rub);
}
.tooltip-badges .badge-swap-base i, .tooltip-badges .badge-swap-base:hover i {
  @include sprite($swap-base);
}

[class^="badge-"] i,
[class*="badge-"] i,
[class^="badge-"] span,
[class*="badge-"] span,
[class^="badge-"] em,
[class*="badge-"] em {
  display: block;
  float: left;
}
[class^="badge-"] em,
[class*="badge-"] em {
    margin-right: 14px;
}
[class^="badge-"] span,
[class*="badge-"] span {
    margin: 20px;
}
.badge-product {
  height: 60px;
  float: left;
  margin: 10px 0;
}
.badge-product div {
  display: block;
  float: left;
  font-family: 'PT Serif';
  font-size: 14px;
  letter-spacing: 1 px;
  text-transform: uppercase;
  max-width: 60%;
  margin-left: 15px;
  padding-top: 10px;
}
.badge-made-usa i, .badge-made-usa span, .badge-made-usa em {
  background: url("/assets/templates/standish-responsive/images/made-usa-badge.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 65px;
  width: 65px;
}

.badge-fire-retardant {
  i, span, em {
    @include sprite($green-fire-retardent);
  }
  
  &:hover {
    i, span, em {
      @include sprite($-fire-retardent);
    }
  }
}
.badge-free-shipping {
  i, span, em {
    @include sprite($green-free-shipping);
  }
  &:hover {
    i, span, em {
      @include sprite($-free-shipping);
    }
  }
}
.badge-heavy-duty {
  i, span, em {
    @include sprite($green-heavy-duty-hardware);
  }
  &:hover {
    i, span, em {
      @include sprite($-heavy-duty-hardware);
    }
  }
}
.badge-iron-life {
  i, span, em {
    @include sprite($green-longer-iron-life);
  }
  &:hover {
    i, span, em {
      @include sprite($-longer-iron-life);
    }
  }
}
.badge-no-sales-tax {
  i, span, em {
    @include sprite($green-no-sales-tax);
  }
  &:hover {
    i, span, em {
      @include sprite($-no-sales-tax);
    }
  }
}
.badge-ten-thousand-rub {
  i, span, em {
    @include sprite($green-ten-k-rub-count);
  }
  &:hover {
    i, span, em {
      @include sprite($-ten-k-rub-count);
    }
  }
}
.badge-swap-base {
  i, span, em {
    @include sprite($green-swappable-bases);
  }
  &:hover {
    i, span, em {
      @include sprite($-swappable-bases);
    }
  }
}
.badge-new-arrival {
  i, span, em {
    @include sprite($green-new-arrival);
  }
  &:hover {
    i, span, em {
      @include sprite($-new-arrival);
    }
  }
}
.badge-service {
  i, span, em {
    @include sprite($green-personal-service);
  }
  &:hover {
    i, span, em {
      @include sprite($-personal-service);
    }
  }
}
.badge-warranty {
  i, span, em {
    @include sprite($green-warranty);
  }
  &:hover {
    i, span, em {
      @include sprite($-warranty);
    }
  }
}
.badge-color {
  i, span, em {
    @include sprite($green-color-variants);
  }
  &:hover {
    i, span, em {
      @include sprite($-color-variants);
    }
  }
}
.badge-returns {
  i, span, em {
    @include sprite($green-no-hassel-return-policy);
  }
  &:hover {
    i, span, em {
      @include sprite($-no-hassel-return-policy);
    }
  }
}
.badge-hardwood {
  i, span, em {
    @include sprite($green-real-hardwood);
  }
  &:hover {
    i, span, em {
      @include sprite($-real-hardwood);
    }
  }
}
.badge-extra-wide {
  i, span, em {
    @include sprite($green-extra-wide);
  }
  &:hover {
    i, span, em {
      @include sprite($-extra-wide);
    }
  }
}
.badge-double-stitched {
  i, span, em {
    @include sprite($green-double-stitching);
  }
  &:hover {
    i, span, em {
      @include sprite($-double-stitching);
    }
  }
}
.badge-inspected, .badge-inspected span, .badge-inspected em {
  i, span, em {
    @include sprite($green-guarantee-pass-inspection);
  }
  &:hover {
    i, span, em {
      @include sprite($-guarantee-pass-inspection);
    }
  }
}
.badge-hidden-clover {
  i, span, em {
    @include sprite($green-st-patricks-sale);
  }
  &:hover {
    i, span, em {
      @include sprite($-st-patricks-sale);
    }
  }
}
.badge-free-shipping {
  i, span, em {
    @include sprite($green-free-shipping);
  }
  &:hover {
    i, span, em {
      @include sprite($-free-shipping);
    }
  }
}


.badge-gluten-free {
  i, span, em {
    @include sprite($green-gluten-free);
  }
  &:hover {
    i, span, em {
      @include sprite($-gluten-free);
    }
  }
}
.badge-paraben-free {
  i, span, em {
    @include sprite($green-paraben-free);
  }
  &:hover {
    i, span, em {
      @include sprite($-paraben-free);
    }
  }
}
.badge-vegan {
  i, span, em {
    @include sprite($green-vegan);
  }
  &:hover {
    i, span, em {
      @include sprite($-vegan);
    }
  }
}
.badge-oil-free {
  i, span, em {
    @include sprite($green-oil-free);
  }
  &:hover {
    i, span, em {
      @include sprite($-oil-free);
    }
  }
}
.badge-soap-free {
  i, span, em {
    @include sprite($green-soap-free);
  }
  &:hover {
    i, span, em {
      @include sprite($-soap-free);
    }
  }
}
.badge-hypoallergenic {
  i, span, em {
    @include sprite($green-hypoallergenic);
  }
  &:hover {
    i, span, em {
      @include sprite($-hypoallergenic);
    }
  }
}
.badge-sulfate-free {
  i, span, em {
    @include sprite($green-sulfate-free);
  }
  &:hover {
    i, span, em {
      @include sprite($-sulfate-free);
    }
  }
}


.modal .listing-container {
  height: 350px !important;
}

.listing-container {
  margin-bottom: 10px;
}
.listing {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 250px;
}
.listing .product_thumb {
  border: 1px solid #dcdcdc;
  width: 100%;
  max-height: 510px;
}
.listing button {
  width: 100%;
}
.listing p {
  margin: 5px 0;
}
.listing p.price {
  margin: 6px 0;
}
.listing p.msrp {
  color: #a9a9a9;
  text-decoration: line-through;
}
.listing .button {
  width: 100%;
  position: relative;
  bottom: 0;
}
.product-title {
  font-size: 24px;
  margin-bottom: 3px;
}
.part-no {
  margin-top: 3px;
  color: #a9a9a9;
}
.pricebox {
  background: #f5f5f5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pricebox.quote-box {
  background: transparent none;
  text-align: left;
}
.pricebox.quote-box h3 {
  display: inline-block;
}
.pricebox-quote-box {
  text-align: left !important;
}
.pricebox .left-price {
  font-size: 42px;
  text-align: center;
  line-height: 110px;
  position: relative;
}
.pricebox .financing {
  font-size: 12px;
  display: block;
  position: absolute;
  top: 85px;
  line-height: 12px;
  width: 100%;
}
.pricebox .right-price {
  border-left: 1px solid #dcdcdc;
  padding: 10px;
}
.pricebox .right-price p {
  margin: 5px 10px;
  font-size: 14px;
}
.pricebox .right-price .label {
  width: 77px;
  display: block;
  float: left;
  white-space: normal;
}
fieldset {
  padding: 0;
  margin: 0;
}
#quantity {
  width: 40px;
  text-align: center;
  background: $xlightGrey;
  border: 1px solid $lightGrey;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: $neutral-dark;
  padding: 3px 0;
}
.product-options {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.product-form label {
  font-size: small;
}
.product-form .option-row {
  padding-top: 3px;
}


.product-form .fancy-select {
  margin-right: 0;
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 28px;
}
.product-form .fancy-select select {
  width: 100%;
  height: auto;
}
.product-form .add {
  width: 100%;
  height: 50px;
}
.product-form .questions {
  font-size: 1.8em;
}
.option-row.last {
  padding: 40px 10px 10px;
}
.product_right h4 {
  clear: both;
  margin-top: 20px;
}
.product_right ul {
  padding: 0 20px;
}
.product_right li {
  color: $primary-color;
}
.product_right li span {
  color: #696969;
}
.badges {
  
  padding: 0 0 20px 0;
}
.product-details {
  position: relative;
}
.brochure-download {
/*
  position: absolute;
  top: 0;
  right: 0;
*/
  text-align: right;
  margin-bottom: 10px;
  font-size: 14px;
}
.brochure-download i {
  font-size: 18px;
  color: $primary-color;
}

.related-products,
.related-accessories {
  margin-top: 50px;
}
.related-products h4,
.related-accessories h4 {
}

.review {
  padding: 15px;
  background-color: $xlightGrey;
  border-radius: 3px;

  .info-header {
    font-size: 1em;
    margin: 0;
  }
}
.review-wrapper {
  margin-bottom: 30px;
  border-radius: 5px;
}
.review span.bold {
  font-size: 14px;
  margin: 0;
}
.review p {
  margin: 0;
  line-height: 1.5;
}
.rating {
  font-size: 14px;
  font-style: italic;
  color: #a9a9a9;
}
.stars {
  position: relative;
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 20px;
  left: -4px;
}
.stars span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.stars span.star:hover {
  cursor: pointer;
}
.stars span.star:before {
  content: "\f006";
  padding-right: 2px;
  color: $primary-color;
}
.stars span.star:hover:before,
.stars span.star:hover~span.star:before {
  content: "\f005";
}
.add-rating-link {
  font-size: 14px;
}
.add-rating-link i {
  color: $primary-color;
  font-size: 16px;
}

#categoryHeader {
  margin-top: 0;
  margin-bottom: 20px;
}

#categoryHeader h1 {
  margin-top: 0;
}

.category-filters {
  border-bottom: 1px solid #dcdcdc;
}
.category-filters h5 {
  font-weight: 200;
}
.category-filters .fancy-select {
  margin-bottom: 20px;
}
.category-navigation ul {
  padding: 0;
}
.category-navigation ul > li {
  font-family: 'PT Serif';
  font-weight: 700;
  line-height: 1.25;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none;
}

.sale-cornertag {
  position: relative;
}
.sale-cornertag .cornersprite {
  display: block;
}
.cornersprite {
  display: none;
  background-repeat: no-repeat;
  background-image: url("/assets/templates/standish-responsive/images/CornerTag.svg");
  width: 75px;
  height: 75px;
  background-position: -125px -23px;
  position: absolute;
  top: -6px;
  right: -16px;
}
.cornersprite.new {
  background-position: 0 0;
}
.tweet_button {
  background: url("/assets/templates/standish-responsive/images/tweet-sprite.png");
  width: 56px;
  height: 21px;
  display: inline-block;
}
.tweet_button:hover {
  background-position: 0 -21px;
}
.promotions {
  font-size: 14px;
}

.MagicZoomPlus img {
  max-height: 650px;
}

.MagicZoomPlus > img {
  width: auto !important;
}

/* Price Drop Feature Styles */

.priceDropTitle {
  margin-bottom: 10px;
}
.priceDropButton {
  font-size: 16px;
  padding: 0 24px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.vex-content .hs-form-field label {
  font-size: 18px;
}
.vex-content .hs-form-field {
  margin-bottom: 15px;
}

/* End of Price Drop Feature Styles */




/* NEW PRODUCT PAGE DESIGN */

a.slick-slide img {
  margin: 0 auto;
}

.sub-slider {
  margin-right: 50px;
  margin-left: 50px;

  a.slick-slide img {
    margin: 5px 10px;
  }

  .slick-next, .slick-prev {
    border-radius: 3px;
    height: 81px;
    width: 50px;
    top: 3px;
    color: $salmon-highlight !important;
    border: 1px solid $salmon-highlight !important;
    margin-top: 0;
    @include  no-blur-box($salmon-highlight);
  }

  .slick-next {
    right: -50px;

    &:before {
      color: $salmon-highlight !important;
      // Example
      @include icon("f054");
      font-family: FontAwesome !important;
    }
  }
  .slick-prev {
    left: -50px;

    &:before {
      color: $salmon-highlight !important;
      font-family: FontAwesome !important;
      @include icon("f053");
    }
  }

}

h4.info-header {
  color: $primary-color;
  hr {
    margin-top: 5px;
  }
}


#loadingDiv {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin-top: 40%;
  min-height: 500px;
  .fa {
    font-size: 5em;
    margin: 0 auto;
  }
}


#product-whole-wrapper {
  border: 1px solid $product-border;
  border-radius: 3px;

  #product-info.product_right {

    border-left: 1px solid $product-border;
    background: $product-inside;

    #review-block {
      background-color: white;
      border-bottom: 1px solid $product-border;
      padding: 10px 0 5px;
    }

    #cart-block {

      #pricing-block {
        padding: 1em 0;

        .price-wrapper {
          text-align: center;
          font-size: 2.5em;
        }
        #savings {
          text-align: center;
        }
      }

      #options-block {
        padding-bottom: 10px;
      }
      #customer-action-block, #customer-action-block-mobile {
        #cart-add {
          margin-top: 10px;
        }
      }

      #customer-engagement-block {
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        .questions {
          color: $primary-color;
        }

        .social-media-block {
          padding: 5px 7px;
        }

      }
      
    }

  }
}

/* Mobile adjustments */
@media only screen and (max-width : $xs) {
  #product-info {
    background-color: white !important;
  }

  .product-options {
    border: 0 none;
  }
  .product-form label {
    font-size: initial;
  }

  #quantity {
    height: 46px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  #customer-action-block-mobile {
    padding-top: 10px;
  }

  .fancy-select img {
    top: 25%;
  }

}


// TABLET ONLY
@media (min-width: $xs) and (max-width: $tablet) {
  #product-whole-wrapper, #product-head {
    margin: 0px !important;
  }
}


#instagram-share {
  padding-top: 10px;
  border-top: 1px solid $product-border;
  background: $product-inside;
  p {
    font-size: larger;
    text-align: center;
    a {padding-left: 5px;}
  }
}








