
.black-friday {
  background-color: black;
  background-image: none;
}

.cyber-week-promo {
  .modal-header {
    border-bottom: 0 none;

    .close {
      color: #ffa07a;
      opacity: 1;
    }
  }
  .modal-content {
    background-size: cover!important;;

    @media only screen and (min-width : $medium) {
      height: 520px;
      width: 519px;
      margin: 0 auto;
    }
    .copy-n-paste {
      padding: 20px;
      border: 3px dashed #fff;
      width: 14em;
      margin: 3em auto 0;
      &>span {
        cursor: pointer;
        font-size: 1.8em;
        color: $primary-color;
        font-weight: 100;
        letter-spacing: .2em;
      }
    }
    #offer-code {
      text-align: center;
      padding: 3em 1em 3em !important;
      @media only screen and (min-width : $medium) {
        padding: 6em 5em 3em !important;
      }

    }
    h2 {
      margin-top:1em;
      font-size: 1.5em;
      @media only screen and (min-width : $medium) {
        font-size: 1.78rem;
      }
    }

    h1, h2, h3, p {
      font-family: "PT Sans", Arial, Helvetica, sans-serif;
      text-align: center;
      color: #ffa07a;
    }
    #promotion-form-wrapper {
      display: inline-block;
      width: 100% !important;
      margin-top: 2em;
      label:first-of-type {
        display: none;
      }
      .hs_email {
        @media only screen and (min-width : $medium) {
          width: 69%;
        }
        width: 100%;

        .input {
          padding: 0 15px;

          input.hs-input {
            width: 100%;
            line-height: 2.8em;
            border-radius: 0;
          }
        }
      }
      .hs_submit {
        @media only screen and (min-width : $medium) {
          width: 30%;
        }
        width: 100%;
        .actions {
          padding: 0 15px;
          @media only screen and (min-width : $medium) {
            padding: 0;
          }

          input {
            border-radius: 2px;
            border: 1px solid #ffa07a;
            width: 100%;
          }
        }
      }
      .hs_email, .hs_submit {
        float: left;
      }
    }
    

  }
}


/* Made in USA promotion */
.cat span.made-usa {
  left: -61px;
  color: white;
  background: rgb(0, 15, 165);
}
.cat span.made-usa i {
  color: white;
}
#catframe a[href="american-made-salon-furniture"],
#catframe a[href="american-made-salon-furniture"]:hover,
#catframe a[href="american-made-salon-furniture"]:active {
  color: rgb(205, 51, 51);
}
/* End Made USA Promotion */


/* -- Modal Stuff- July 2015 -- */
h3.header-patriot {
  font-family: $default-font;
  font-weight: 100;
  font-size: 2.5em;
  margin: 0;
  padding: 10px 0;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  color: white;
}
.modal-patriot a, .modal-patriot a:hover, .modal-patriot a:visited, .modal-patriot a.active {
  color: white;
  text-decoration: none;
}

.modal-patriot .modal-body, .modal-patriot .modal-footer {
  background-color: #222e69;
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-patriot button.close {
  margin-top: -20px;
  margin-right: -20px;
  width: 30px;
  height: 30px;
  opacity: 1;
  background-color: #666;
  color: white;
}
.modal-patriot strong {
  color: white;
}
.modal-patriot button.button-patriot {
  text-transform: uppercase;
  font-weight: bold;
   -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 0px #4f0507;
  -moz-box-shadow: 0px 5px 0px #4f0507;
  box-shadow: 0px 5px 0px #4f0507;
  border: 0 none; 
  color: #ffffff;
  font-size: 20px;
  background: #9e0b0f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.modal-patriot button.button-patriot:hover {
  background: #4f0507;
  border: 0 none; 
  text-decoration: none;
}
.modal-patriot .modal-header {
  border-bottom: 0 none;
  background-color: #031d48;
}

.modal-patriot .modal-footer {
  border-top: 0 none;
  text-align: center;
  padding-bottom: 20px;
}

.modal-patriot ol li, .modal-patriot ul li {
  color: white;
  font-size: 1.15em;
}


#fb-modal-share {
  .modal-body {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  h6 {
    font-family: $default-font;
    font-size: 1.5em;
  }

  h6, p {
    text-align: center;
  }

  .promotion-code-box {

    padding: 20px;
    border: 3px dashed $primary-color;
    @media only screen and (min-width : $tablet) {
      margin: 2em 8em 3em;
    }
    text-align: center;

    span {
      text-align: center;
    }
  }

}


