
/* Product and Category Pages */

.ge-free-shipping span, .badge-free-shipping em {
  background-position: 0 0;
}
.badge-fire-retardant i, .badge-fire-

[class^="badge-"] i,
[class*="badge-"] i,
[class^="badge-"] span,
[class*="badge-"] span,
[class^="badge-"] em,
[class*="badge-"] em {
  display: block;
  height: 60px;
  width: 60px;
  background: url("/assets/templates/standish-responsive/images/badges-sprite.png");
  -webkit-background-size: 800%;
  -moz-background-size: 800%;
  background-size: 800%;
  float: left;
}
[class^="badge-"] em,
[class*="badge-"] em {
    margin-right: 14px;
}
[class^="badge-"] span,
[class*="badge-"] span {
    margin: 20px;
}
.badge-product {
  height: 60px;
  width: 50%;
  float: left;
  margin: 10px 0;
}
.badge-product div {
  display: block;
  float: left;
  font-family: 'PT Serif';
  font-size: 14px;
  letter-spacing: 1 px;
  text-transform: uppercase;
  max-width: 60%;
  margin-left: 15px;
  padding-top: 10px;
}
.badge-made-usa i, .badge-made-usa span, .badge-made-usa em {
  background: url("/assets/templates/standish-responsive/images/made-usa-badge.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.badge-free-shipping i, .badretardant span, .badge-fire-retardant em {
  background-position: 0 -60px;
}
.badge-heavy-duty i, .badge-heavy-duty span, .badge-heavy-duty em {
  background-position: 0 -120px;
}
.badge-iron-life i, .badge-iron-life span, .badge-iron-life em {
  background-position: 0 -180px;
}
.badge-no-sales-tax i, .badge-no-sales-tax span, .badge-no-sales-tax em {
  background-position: -60px 0;
}
.badge-ten-thousand-rub i {
  background-position: -60px -60px;
}
.badge-swap-base i {
  background-position: -60px -120px;
}
.badge-new-arrival i, .badge-new-arrival span, .badge-new-arrival em {
  background-position: -60px -180px;
}
.badge-service i, .badge-service span, .badge-service em {
  background-position: -120px 0;
}
.badge-warranty i, .badge-warranty span, .badge-warranty em {
  background-position: -120px -60px;
}
.badge-color i, .badge-color span, .badge-color em {
  background-position: -120px -120px;
}
.badge-returns i, .badge-returns span, .badge-returns em {
  background-position: -120px -180px;
}
.badge-hardwood i {
  background-position: -180px 0;
}
.badge-extra-wide i {
  background-position: -180px -60px;
}
.badge-double-stitched i {
  background-position: -180px -120px;
}
.badge-inspected i, .badge-inspected span, .badge-inspected em {
  background-position: -180px -180px;
}
.badge-hidden-clover i {
    background-position: -180px -242px;
}
.badge-free-shipping:hover i {
  background-position: -240px 0;
}
.badge-fire-retardant:hover i {
  background-position: -240px -60px;
}
.badge-heavy-duty:hover i {
  background-position: -240px -120px;
}
.badge-iron-life:hover i {
  background-position: -240px -180px;
}
.badge-no-sales-tax:hover i {
  background-position: -300px 0;
}
.badge-ten-thousand-rub:hover i {
  background-position: -300px -60px;
}
.badge-swap-base:hover i {
  background-position: -300px -120px;
}
.badge-new-arrival:hover i {
  background-position: -300px -180px;
}
.badge-service:hover i {
  background-position: -360px 0;
}
.badge-warranty:hover i {
  background-position: -360px -60px;
}
.badge-color:hover i {
  background-position: -360px -120px;
}
.badge-returns:hover i {
  background-position: -360px -180px;
}
.badge-hardwood:hover i {
  background-position: -420px 0;
}
.badge-extra-wide:hover i {
  background-position: -420px -60px;
}
.badge-double-stitched:hover i {
  background-position: -420px -120px;
}
.badge-inspected:hover i {
  background-position: -420px -180px;
}
.badge-hidden-clover:hover i {
    background-position: -240px -242px;
}



.listing-container {
  margin-bottom: 10px;
}
.listing {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 250px;
}
.listing .product_thumb {
  border: 1px solid #dcdcdc;
  width: 100%;
  max-height: 510px;
}
.listing button {
  width: 100%;
}
.listing p {
  margin: 5px 0;
}
.listing p.price {
  margin: 6px 0;
}
.listing p.msrp {
  color: #a9a9a9;
  text-decoration: line-through;
}
.listing .button {
  width: 100%;
  position: relative;
  bottom: 0;
}
.product-title {
  font-size: 24px;
  margin-bottom: 3px;
}
.part-no {
  margin-top: 3px;
  color: #a9a9a9;
}
.pricebox {
  background: #f5f5f5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pricebox.quote-box {
  background: transparent none;
  text-align: left;
}
.pricebox.quote-box h3 {
  display: inline-block;
}
.pricebox-quote-box {
  text-align: left !important;
}
.pricebox .left-price {
  font-size: 42px;
  text-align: center;
  line-height: 110px;
  position: relative;
}
.pricebox .financing {
  font-size: 12px;
  display: block;
  position: absolute;
  top: 85px;
  line-height: 12px;
  width: 100%;
}
.pricebox .right-price {
  border-left: 1px solid #dcdcdc;
  padding: 10px;
}
.pricebox .right-price p {
  margin: 5px 10px;
  font-size: 14px;
}
.pricebox .right-price .label {
  width: 77px;
  display: block;
  float: left;
  white-space: normal;
}
fieldset {
  padding: 0;
  margin: 0;
}
#quantity {
  width: 40px;
  text-align: center;
  background: #efefef;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: $neutral-dark;
  padding: 3px 0;
}
.product-options {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.product-form label {
  font-size: small;
}
.product-form .option-row {
  margin-bottom: 10px;
  padding: 10px;
}


.product-form .fancy-select {
  margin-right: 0;
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 28px;
}
.product-form .fancy-select select {
  width: 100%;
  height: auto;
}
.product-form .fancy-select i {
  padding: 4px 12px;
}
.product-form .add {
  width: 100%;
  height: 50px;
}
.product-form .questions {
  text-align: center;
  float: right;
  line-height: 27px;
}
.option-row.last {
  padding: 40px 10px 10px;
}
.product_right h4 {
  clear: both;
  margin-top: 20px;
}
.product_right ul {
  padding: 0 20px;
}
.product_right li {
  color: $primary-color;
}
.product_right li span {
  color: #696969;
}
.badges {
  
  padding: 0 0 20px 0;
}
.product-details {
  position: relative;
}
.brochure-download {
/*
  position: absolute;
  top: 0;
  right: 0;
*/
  text-align: right;
  margin-bottom: 10px;
  font-size: 14px;
}
.brochure-download i {
  font-size: 18px;
  color: $primary-color;
}
.related-products,
.related-accessories {
  margin-top: 50px;
  position: relative;
}
.related-products h4,
.related-accessories h4 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}

.review {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 25px;
  margin-bottom: 15px;
}
.review span.bold {
  font-size: 14px;
  margin: 0;
}
.review p {
  margin: 0;
  line-height: 1.5;
}
.rating {
  font-size: 14px;
  font-style: italic;
  color: #a9a9a9;
}
.stars {
  position: relative;
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 20px;
  left: -4px;
}
.stars span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.stars span.star:hover {
  cursor: pointer;
}
.stars span.star:before {
  content: "\f006";
  padding-right: 2px;
  color: $primary-color;
}
.stars span.star:hover:before,
.stars span.star:hover~span.star:before {
  content: "\f005";
}
.add-rating-link {
  font-size: 14px;
}
.add-rating-link i {
  color: $primary-color;
  font-size: 16px;
}

#categoryHeader {
  margin-top: 0;
  margin-bottom: 20px;
}

#categoryHeader h1 {
  margin-top: 0;
}

.category-filters {
  border-bottom: 1px solid #dcdcdc;
}
.category-filters h5 {
  font-weight: 200;
}
.category-filters .fancy-select {
  margin-bottom: 20px;
}
.category-navigation ul {
  padding: 0;
}
.category-navigation ul > li {
  font-family: 'PT Serif';
  font-weight: 700;
  line-height: 1.25;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none;
}

.sale-cornertag {
  position: relative;
}
.sale-cornertag .cornersprite {
  display: block;
}
.cornersprite {
  display: none;
  background-repeat: no-repeat;
  background-image: url("/assets/templates/standish-responsive/images/CornerTag.svg");
  width: 75px;
  height: 75px;
  background-position: -125px -23px;
  position: absolute;
  top: -5px;
  left: -5px;
}
.cornersprite.new {
  background-position: 0 0;
}
.tweet_button {
  background: url("/assets/templates/standish-responsive/images/tweet-sprite.png");
  width: 56px;
  height: 21px;
  display: inline-block;
}
.tweet_button:hover {
  background-position: 0 -21px;
}
.promotions {
  font-size: 14px;
}

/* Instagram 3 picture limit */
#instafeed a:nth-child(n+4) {
  display: none;
}

#instafeed{
  width:470px;
}

#instafeed img{
  padding:0px 2px 0px 2px;
}

.MagicZoomPlus img {
  max-height: 650px;
}

.MagicZoomPlus > img {
  width: auto !important;
}

/* Price Drop Feature Styles */

.priceDropTitle {
  margin-bottom: 10px;
}
.priceDropButton {
  font-size: 16px;
  padding: 0 24px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.vex-content .hs-form-field label {
  font-size: 18px;
}
.vex-content .hs-form-field {
  margin-bottom: 15px;
}

/* End of Price Drop Feature Styles */
