$default-font: 'PT Sans', Arial, Helvetica, sans-serif;

$default-font-narrow: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

$default-font-serif: 'PT Serif', 'Times New Roman', Times, serif;

$special-font: $default-font;


/* Pink */
$primary-color: #ff7f50;

$primary-color-btn-highlight: #ffa07a;

$btn-color: $primary-color;

//*Color used for top-bar*// 
$accent-color: rgb(255, 183, 157);

// lime green
$highlight-color: #dfe133;

// top bar ~ hello bar
$hello-bar-bkg-color: #60437D;

// new product page page
$salmon-highlight: #ff7f50;
$product-border: #E0E0E0;
$product-inside: rgb(240, 240, 240);

// end new product page page
$btn-highlight: $primary-color-btn-highlight;

$secondary-btn-color: lighten(#696969, 10%);
$secondary-btn-highlight: lighten(#696969, 30%);

$light-gray: lighten(#696969, 10%);

$xlightGrey: rgb(249, 249, 249);;
// Standish Green
$secondary-color: #c2d3bd;
$standishgreen: $secondary-color;

$hbspt-form-bkg: #C2D3BD;
// Footer Color
$neutral-dark: #4d4d4d;
$standishgray: $neutral-dark;
// Primary Dark Gray
$primary-gray: #696969;

// redish brown
$primary-darken: #a0522d;

$light-cream: #f5f5dc;

$template: 'standish-responsive';

$lightGrey: #dcdcdc;


// Rotator Colors Ideas
$red: #FF7F4D;
$yellow: #d1cd3b;
$green: #a5ecaf;
$usa-blue: #000fa5;

$iphone: 320px;
$xs: 480px;

$tablet: 768px;
$medium: 992px;
$large: 1200px;
