

/// ----- Fonts -----///
$default-font: 'PT Sans', Arial, Helvetica, sans-serif;

$default-font-narrow: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

$default-font-serif: 'PT Serif', 'Times New Roman', Times, serif;

$special-font: 'PT Sans Caption', Arial, Helvetica, sans-serif;



/// ----- Colors -----///
$beige: #FBFBEF;

/* Pink */
$primary-color: #6FBBEE;


$btn-color: #e82a79;
$btn-highlight: #e687ba;
$primary-color-btn-highlight: #e687ba;


$secondary-btn-color: lighten(#696969, 10%);
$secondary-btn-highlight: lighten(#696969, 30%);


//*Color used for top-bar*// 
$accent-color: #7ECDF4;

// lime green/mustard green color
$highlight-color: #6FBBEE;

$blue-link: #678CCB;

// top bar ~ hello bar
$hello-bar-bkg-color: lighten(#6FBBEE, 10%);

// new product page design colors -- not consistent...
$salmon-highlight: #e82a79;
$product-border: #E0E0E0;
$product-inside: rgb(240, 240, 240);

// end new product page page
$btn-highlight: $primary-color-btn-highlight;

$secondary-btn-color: lighten(#696969, 10%);
$secondary-btn-highlight: lighten(#696969, 30%);

$light-gray: lighten(#696969, 10%);

$xlightGrey: rgb(249, 249, 249);;
// Standish Green
$secondary-color: #B4D6F1;
$standishgreen: $secondary-color;

$hbspt-form-bkg: #C2D3BD;

$dark-text: #4D4D4D;
// Footer Color
$neutral-dark: #4d4d4d;
$standishgray: $neutral-dark;
// Primary Dark Gray
$primary-gray: #696969;

// redish brown
$primary-darken: #a0522d;

$light-cream: #f5f5dc;

$template: 'salon-responsive';

$lightGrey: #B8B8B8;

$hbspt-form-bkg: rgba(111, 187, 238, 0.52);

// Rotator Colors Ideas
$red: #FF7F4D;
$yellow: #d1cd3b;
$green: #a5ecaf;
$usa-blue: #000fa5;

$iphone: 320px;
$xs: 480px;

$tablet: 768px;
$medium: 992px;
$large: 1200px;
