$default-font: 'PT Sans', Arial, Helvetica, sans-serif;

$default-font-narrow: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

$default-font-serif: 'PT Serif', 'Times New Roman', Times, serif;

/* Pink */
$primary-color: #ff7f50;

$primary-color-btn-highlight: #ffa07a;

//*Color used for top-bar*// 
$accent-color: rgb(255, 183, 157);

// lime green
$highlight-color: #dfe133;

// Standish Green
$secondary-color: #c2d3bd;

// Footer Color
$neutral-dark: #4d4d4d;

// Primary Dark Gray
$primary-gray: #696969;

// redish brown
$primary-darken: #a0522d;

$light-cream: #f5f5dc;

$template: 'standish-responsive';


// Rotator Colors Ideas
$red: #FF7F4D;
$yellow: #d1cd3b;
$green: #a5ecaf;
$usa-blue: #000fa5;

$iphone: 320px;
$xs: 480px;

$tablet: 768px;
$medium: 992px;
$large: 1200px;
