
p,
ul,
ol {
  font-family: $default-font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
	margin-bottom: 0;
}
ol li,
ul li {
  margin: 3px 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: $default-font-serif;
  font-weight: 700;
  line-height: 1.25;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.750em;
}

h2 {
  font-size: 2.000rem;
}

h3 {
  font-size: 1.500rem;
	font-weight: 700;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
p {
	font-size: 1em;
}

@media only screen and (max-width: 61.9375em) {

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }

  h5 {
    font-size: 1.4375rem;
  }

  h6 {
    font-size: 1.4375rem;
  }
  p {
		font-size: 1.125rem;
  }
	p.title {
		font-size: 1.4375rem;
	}
	.hello p {
		font-size: 1.25rem;
	}
}

p {
  margin: 0 0 10px;
}

a.button,
a:link.button,
a:visited.button {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
a:hover.button,
a:active.button {
  text-decoration: underline;
}


a,
a:link,
a:visited {
  color: $primary-color;
}
a:hover {
  color: #ff5a1d;
}
a:active {
  color: #ffa483;
}




.strike {
	text-decoration:line-through
}
.bold {
  font-weight: 700;
  color: $primary-color;
}
.center {
	text-align: center;
}
.italic {
  font-style: italic;
}
.allcaps {
  text-transform: uppercase;
  &.featured {
    & > a {
      color: $highlight-color;
    } 
  }
}
.lowercase {
  text-transform: lowercase;
}
strong {
  color: $primary-color;
}
.serif {
  font-family: $default-font-serif;
}
.sans {
  font-family: $default-font;
}

