
p,
ul,
ol {
  font-family: $default-font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0;
}
ol li,
ul li {
  margin: 3px 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: $default-font-serif;
  font-weight: 700;
  line-height: 1.25;
  &.sans {
    font-family: $default-font !important;
  }
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.750em;
}

h2 {
  font-size: 2.000rem;
}

h3 {
  font-size: 1.500rem;
  font-weight: 700;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
p {
  font-size: 1em;
}
.regal {
  text-transform: uppercase;
  font-family: $default-font-serif !important;
}
.uppercase {
  text-transform: uppercase;
}
.subheader {
  font-size: 78%;
}
a.underline, .underline {
  text-decoration: underline !important;
}
@media only screen and (max-width: 61.9375em) {

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }

  h5 {
    font-size: 1.4375rem;
  }

  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1.125rem;
  }
  p.title {
    font-size: 1.25rem;
    font-weight: 100;
  }
  .hello p {
    font-size: 1.25rem;
  }
}

p {
  margin: 0 0 10px;
}

a.button,
a:link.button,
a:visited.button {
  color: white;
  text-decoration: none;
}
a:hover.button,
a:active.button {
  text-decoration: none;
}


a,
a:link,
a:visited,
a:focus
{
  color: $primary-color;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none !important;
  color: darken($primary-color, 10%);
}
a:active {
  color: darken($primary-color, 10%);
}


// Classes for extension
.default {font-family: $default-font;}

.narrow {font-family: $default-font-narrow;}

.special {font-family: $special-font;}

.strike {
  text-decoration:line-through
}
.bold {
  font-weight: 700;
  color: $primary-color;
}
.center {
  text-align: center;
}
.italic {
  font-style: italic;
}
.allcaps {
  text-transform: uppercase;
  &.featured {
    color: $highlight-color;
    & > a {
      color: $highlight-color;
    } 
  }
}
.lowercase {
  text-transform: lowercase;
}
strong {
  color: $primary-color;
}
.serif {
  font-family: $default-font-serif;
}
.sans {
  font-family: $default-font;
}

.return { color: $btn-color; }
.usa-blue { color: $primary-color; }
.money { color: $btn-highlight; }


// HEADER level customizations to Font
.navigation ul {
  li {
    @extend .narrow;
  }
  ul ul a {
    @extend .default;
  }
}

.search {
  form, p, input, span, a, button {
    @extend .special;
  }

}

// Product level customizations to Font
.listing p.title {
  @extend .narrow;
  min-height: 34px;
  a {
    color: $blue-link;
    text-decoration: underline;
  }
}
.pricebox .left-price {
  @extend .narrow;
}
.product-form label {
  @extend .narrow;
}
.product-form .questions {
  @extend .narrow;
}
.brochure-download {
  @extend .narrow;
}
.rating {
  @extend .narrow;
}
.add-rating-link {
  @extend .narrow;
}


// Form Font Stuff -- hubspot craziness

button,
.button,
input[type=button],
input[type=submit],
.hs-form .hs-button {
  @extend .default;
}

.hs-input {
  @extend .default;
}


