/*!
 * 3D Falling Leaves
 */

.october-leaf {
    position: fixed;
    background-color: transparent;
    z-index: 20;
    background-image: url('/assets/templates/standish-responsive/images/leaves.png');
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}


#leaves-fall {
	padding: 10px;
    z-index: 19;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #4d4d4d;
}
#leaves-fall p {
	display: inline;
	margin-right: 5px;
}

#leaves-fall p {
	color: #c2d3bd;
}