/* Pink */
p,
ul,
ol {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0; }

ol li,
ul li {
  margin: 3px 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-weight: 700;
  line-height: 1.25; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0; }

h1 {
  font-size: 2.750em; }

h2 {
  font-size: 2.000rem; }

h3 {
  font-size: 1.500rem;
  font-weight: 700; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase; }

h6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 1em; }

@media only screen and (max-width: 61.9375em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }

  h1 {
    font-size: 2.75rem; }

  h2 {
    font-size: 2.3125rem; }

  h3 {
    font-size: 1.6875rem; }

  h4 {
    font-size: 1.4375rem; }

  h5 {
    font-size: 1.4375rem; }

  h6 {
    font-size: 1.4375rem; }

  p {
    font-size: 1.125rem; }

  p.title {
    font-size: 1.4375rem; }

  .hello p {
    font-size: 1.25rem; } }
p {
  margin: 0 0 10px; }

a.button,
a:link.button,
a:visited.button {
  color: white;
  text-decoration: none;
  padding: 5px 10px; }

a:hover.button,
a:active.button {
  text-decoration: underline; }

a,
a:link,
a:visited {
  color: #ff7f50; }

a:hover {
  color: #ff5a1d; }

a:active {
  color: #ffa483; }

.strike {
  text-decoration: line-through; }

.bold {
  font-weight: 700;
  color: #ff7f50; }

.center {
  text-align: center; }

.italic {
  font-style: italic; }

.allcaps {
  text-transform: uppercase; }
  .allcaps.featured > a {
    color: #dfe133; }

.lowercase {
  text-transform: lowercase; }

strong {
  color: #ff7f50; }

.serif {
  font-family: "PT Serif", "Times New Roman", Times, serif; }

.sans {
  font-family: "PT Sans", Arial, Helvetica, sans-serif; }

.white {
  background-color: #fff; }

.whitesmoke {
  background-color: #f5f5f5; }

.standishgreen {
  background-color: #c2d3bd; }

.gainsboro {
  background-color: #dcdcdc; }

.sienna {
  background-color: #a0522d; }

.lightgray {
  background-color: #efefef; }

.darkgray {
  background-color: #a9a9a9; }

.lightsalmon {
  background-color: #ffa07a; }

.dimgray {
  background-color: #696969; }

.coral {
  background-color: #ff7f50; }

.standishgray {
  background-color: #4d4d4d; }

.standishyellow {
  background-color: #dfe133; }

.beige {
  background-color: #f5f5dc; }

.standishgold {
  background-color: #c5ac29; }

.whitesmoke-text {
  color: #f5f5f5; }

.standishgreen-text {
  color: #c2d3bd; }

.gainsboro-text {
  color: #dcdcdc; }

.sienna-text {
  color: #a0522d; }

.lightgray-text {
  color: #efefef; }

.darkgray-text {
  color: #a9a9a9; }

.lightsalmon-text {
  color: #ffa07a; }

.dimgray-text {
  color: #696969; }

.coral-text {
  color: white; }

.standishgray-text {
  color: #4d4d4d; }

.standishyellow-text {
  color: #dfe133; }

.beige-text {
  color: #f5f5dc; }

.standishgold-text {
  color: #c5ac29; }

.black-text {
  color: #4d4d4d; }

/* ~~~Cart and Checkout~~~ */
#cart-header {
  padding-bottom: 10px; }

.medium .add-on-left {
  position: relative;
  left: -7px;
  padding: 11px 16px 8px 0;
  margin-right: 16px; }
  .medium .add-on-left i {
    font-size: 21px; }

.large .add-on-left {
  position: relative;
  left: -11px;
  padding: 14px 24px 11px 0;
  margin-right: 20px; }
  .large .add-on-left i {
    font-size: 26px; }

.coupon {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  margin-top: 30px; }

.buttons-order {
  padding: 10px 0; }

.cart_items_header {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  margin: 15px 0;
  padding: 15px 15px;
  font-size: 14px; }

.cart_items_header > div {
  padding-top: 10px;
  padding-bottom: 10px; }

.cart_item {
  border-bottom: 1px solid #dcdcdc;
  padding: 16px 0;
  font-size: 14px; }

.cart_item img {
  margin-right: 16px;
  float: left; }

.total {
  padding: 42px; }

.cart_items .options-list {
  margin-left: 71px; }

body .update_cart_button:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\f01e"; }

body .update_cart_button {
  background-color: #dcdcdc;
  color: #696969;
  border-color: #a9a9a9; }

/* Sidebar Styles */
.checkout-headers .item {
  position: relative;
  left: 20px;
  margin-left: -20px;
  font-size: 18px; }

.checkout-headers .checkout-headers:first-child {
  width: 240px; }

/* ~~~CartSprite~~~ */
.cartsprite div {
  background-image: url("/assets/templates/{$template}/images/cart-sprite.png"); }

.cartsprite .cards {
  background-position: 0px 0px;
  width: 140px;
  height: 20px;
  float: left;
  margin-top: 37px; }

.cartsprite .norton {
  background-position: 0px -21px;
  height: 50px;
  width: 90px;
  float: right;
  margin-top: 24px; }

@media only screen and (max-width: 767px) {
  .cartsprite .cards {
    margin-top: -12px; }

  .cartsprite .norton {
    margin-top: -40px; } }
/* Stuff that goes in the footer */
.newsletter-signup {
  height: 350px;
  background-color: #4d4d4d;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 70px; }

.newsletter-signup h5 {
  padding: 50px 0 0 0;
  letter-spacing: 2px; }

.newsletter-signup input {
  display: block;
  width: 320px;
  height: 50px;
  margin: 30px auto;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  text-align: center; }

.newsletter-signup .hs-button {
  width: 320px;
  background-color: #c2d3bd; }

.social-icons a {
  color: #a9a9a9;
  font-size: 30px;
  margin: 42px 1px;
  text-decoration: none; }

.social-icons a i {
  margin: 2px; }

.social-icons a:hover {
  color: #c2d3bd; }

.footer-navigation {
  height: 50px; }

.account-button {
  display: block;
  float: left;
  width: 33.33%;
  height: 50px;
  font-size: 1.125rem;
  line-height: 50px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center; }

.account-button:hover {
  text-decoration: underline; }

.account-button.login {
  background: #ff7f50;
  color: white; }

.account-button.affiliate {
  background: #c2d3bd;
  color: #4d4d4d; }

.account-button.contact {
  background: #f5f5dc;
  color: #4d4d4d; }

footer .container-fluid, .footer-child {
  background-color: #4d4d4d; }

.footer-logo {
  /*display: block;*/
  /*float: left;*/
  background-image: url("/assets/templates/standish-responsive/images/footer-sprite.png");
  margin: 44px 16px 20px 16px;
  display: inline-block;
  float: none;
  vertical-align: top; }

.norton {
  margin-top: 63px;
  width: 107px;
  height: 57px;
  background: none; }

.usa {
  margin-top: 70px;
  width: 125px;
  height: 51px;
  background-position: -120px 0; }

.pba {
  width: 60px;
  height: 117px;
  background-position: -254px 0; }

.interesting {
  width: 53px;
  height: 92px;
  background-position: -317px 0; }

.bbb {
  margin-top: 75px;
  width: 108px;
  height: 42px;
  background-position: 0 -58px;
  background: none; }

.bofa {
  margin-top: 70px;
  width: 145px;
  height: 50px;
  background-position: -109px -50px; }

.bravo {
  margin-top: 49px;
  width: 95px;
  height: 85px;
  background-position: -371px 0px; }

.quest {
  margin-top: 61px;
  width: 130px;
  height: 72px;
  background-position: -469px 0px; }

.footer-copy {
  color: #dcdcdc;
  text-align: center; }

.footer {
  min-height: 240px;
  background-color: #696969;
  width: 100%; }

.footer li,
.footer ul {
  margin: 0; }

fieldset {
  border: none; }

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* bootstrap override */
.alert-danger {
  background: transparent none; }

button,
.button,
input[type=button],
input[type=submit],
.hs-form .hs-button {
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  background-color: #ff7f50;
  border-bottom: 1px solid #a0522d; }

btn.focus, .btn:focus, .btn:hover, .hs-form .hs-button:focus, .hs-form .hs-button:hover {
  color: white;
  font-weight: bold; }

input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover,
.hs-form .hs-button:hover {
  background-color: #ffa07a; }

.button.medium,
button.medium {
  font-size: 16px;
  padding: 0 24px;
  height: 40px; }

.button.large,
button.large {
  font-size: 18px;
  height: 50px; }

.total .button.large {
  padding: 0 35px; }

/* Button bootstrap overrides */
.btn-group-lg > .btn, .btn-lg {
  border-radius: 3px; }

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 15px; }

.btn.standishgreen,
input[type=button].standishgreen,
input[type=submit].standishgreen,
.button.standishgreen,
button.standishgreen {
  background-color: #c2d3bd;
  color: #696969;
  border-color: #8f998c; }

.button.standishgray,
button.standishgray {
  border-color: #000;
  background-color: #4D4D4D; }

.button.gainsboro,
button.gainsboro {
  color: #696969;
  border-color: #a9a9a9; }

.button.darkgray,
button.darkgray {
  color: #fff;
  border-color: #696969; }

.button .add-on-left,
button .add-on-left {
  padding: 5px 11px 5px 0;
  margin-right: 10px;
  border-right: 1px solid #fff; }

.button .add-on-left i,
button .add-on-left i {
  position: relative;
  top: 2px;
  font-size: 15px; }

.button.standishgreen {
  background-color: #c2d3bd;
  color: #696969 !important; }

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block; }

input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: #efefef;
  min-height: 20px;
  padding: 0 10px; }

input.form-control {
  background: #efefef; }

/* kludgy hack to fix contact page hubspot form... https://devstandishsalongoods.3dcartstores.com/contact-us.html */
/*
.hs-form .clearfix:after, .hs-form .field:after, .hs-form .hs-form-field:after {
  display: inline !important;
}
*/
/* ~~~ Hubspot Stuff ~~~ */
.hs-input {
  color: #a9a9a9;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.25em; }

.hbspt-form li {
  list-style: none; }

.hbspt-form li input {
  margin-right: 10px; }

textarea.hs-input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background: #efefef;
  min-height: 20px;
  padding: 0 10px;
  line-height: 1.5em; }

.main_content .hbspt-form {
  background: #C2D3BD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 40px 40px 40px;
  border-bottom: 1px solid #696969; }

.main_content .hbspt-form .hs-form-field, .main_content .hbspt-form .hs_submit {
  width: 100%;
  margin: 0 auto 30px auto;
  float: none; }

.hs-form-field {
  margin-bottom: 30px; }

.hbspt-form .hs-form.stacked .actions {
  margin: 0;
  padding: 0; }

.hbspt-form .multi-container {
  padding-left: 22px; }

.product-form input[type=file] {
  float: right;
  width: 283px;
  padding: 5px;
  margin-bottom: 12px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
.hidden {
  display: none; }

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  /* font-family: sans-serif; */
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

html {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  /* font-family: sans-serif; */
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  color: #696969; }

html,
body {
  font-size: 100%; }

.container-fluid, .no-padd {
  padding: 0px; }

/* Primary Content Section */
body section#prime-content {
  margin-top: 40px; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

label, .label {
  font-weight: normal;
  color: inherit; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: inline-block;
  height: auto;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

.indent {
  padding-left: 10px; }

.hide {
  display: none; }

.table .table.alternative, .table.alternative {
  background-color: #EFEFEF; }

.borderless td, .borderless th {
  border: none; }

.borderless .table > tbody > tr > td,
.borderless .table > tbody > tr > th,
.borderless .table > tfoot > tr > td,
.borderless .table > tfoot > tr > th,
.borderless .table > thead > tr > td,
.borderless .table > thead > tr > th {
  border: none; }

.hr {
  margin: 10px 0;
  border-bottom: 1px solid #dcdcdc; }

.top-margin {
  margin-top: 15px; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.breadcrumb {
  background: transparent none;
  /*   margin-bottom: 40px; */ }
  .breadcrumb a {
    text-decoration: underline; }

.cycle-slideshow .cycle-slide {
  width: 100%; }

.corner-tag {
  width: 75px;
  height: 75px;
  background: url("/assets/templates/{$template}/images/corner-tag-sprite.png");
  position: relative;
  top: 74px;
  left: 4px;
  z-index: 100; }

.promo {
  margin-bottom: 40px; }

.promo .background {
  height: 350px;
  width: 380px;
  float: left;
  position: relative; }

.promo .background.gainsboro {
  width: 560px; }

.promo button {
  margin: 10px auto;
  display: block; }

.promo a {
  font-size: 12px;
  color: #a9a9a9;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 12px;
  bottom: 10px; }

.login-title {
  text-align: center;
  margin: 25px 0 50px 0; }

.login-box {
  margin: 20px 0;
  background: #efefef;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  min-height: 410px; }

.login-box h5 {
  padding: 0 10px 25px 10px;
  border-bottom: 1px solid #dcdcdc; }

.login-box p.signup-text {
  padding-left: 105px;
  padding-right: 105px;
  font-size: 17px;
  line-height: 1.5; }

.login-box p {
  padding: 30px; }

.create-account button {
  color: #fff;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif; }

.login {
  font-size: 14px; }

.login form {
  margin: 40px 70px;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  text-align: left; }

.login form a {
  float: right;
  margin: 10px 0 15px 0; }

.login form label {
  margin: 10px 0 5px 0; }

.login button {
  width: 100%; }

.login input {
  width: 294px;
  padding: 10px 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc; }

.pagination {
  margin: 0 auto 0 auto; }
  .pagination .btn {
    display: block;
    float: left;
    background: #fff;
    min-width: 40px;
    min-height: 30px;
    line-height: 30px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    text-align: center; }
    .pagination .btn.first {
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      border-left: 1px solid #dcdcdc; }
    .pagination .btn.last {
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0; }
    .pagination .btn.active {
      background: #dcdcdc; }

.page_headers,
.checkout-headers {
  font-family: 'PT Serif', 'Times New Roman', Times, serif;
  font-weight: 700;
  line-height: 1.25;
  font-size: 32px; }

.alternative {
  border-collapse: separate !important;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 15px; }

.alternative td {
  padding: 6px; }

.alternative input {
  background: #fff; }

.alternative input[type=submit],
.alternative input[type=button] {
  background-color: #ff7f50; }

.checkout-headers {
  font-size: 24px;
  padding-bottom: 10px; }

.left-bar {
  min-height: 800px; }

.left-bar ul {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
  position: relative; }

.left-bar .allcaps {
  margin: 10px 0 0 0; }

.left-bar a {
  text-decoration: none;
  color: #a9a9a9; }

.left-bar a:hover {
  font-weight: bold;
  color: #ff7f50; }

.sharebox {
  background: #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 5px 29px; }

.sharebox * {
  display: inline; }

.sharebox ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.fb_iframe_widget {
  top: -5px; }

.fb-like span {
  width: 50px !important;
  overflow: hidden; }

li.email {
  position: relative;
  top: -6px; }

.fancy-select.wide, .wide.fancy-select-lg {
  float: right;
  margin-right: 0;
  width: 180px; }

.fancy-select.wide select, .wide.fancy-select-lg select {
  width: 210px; }

body .vex.vex-theme-flat-attack .vex-content {
  padding-bottom: 1em; }

/* Blog stuff */
.blog-item.panel .panel-body {
  padding: 15px 0; }

.blog-nav li {
  padding-top: 3px; }

.blog-nav ul {
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none; }

.blog-nav .allcaps {
  margin: 10px 0 0 0; }

.blog-nav a {
  text-decoration: none;
  color: #a9a9a9; }

.blog-nav a:hover {
  font-weight: bold;
  color: #ff7f50; }

/* cycle pager */
.cycle-pager {
  text-align: right;
  width: 100%;
  z-index: 500;
  position: absolute;
  overflow: hidden;
  right: 20px;
  top: 0; }

.cycle-pager span {
  font-family: arial;
  font-size: 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 2px #696969;
  padding: 0 2px 0 0; }

.cycle-pager span.cycle-pager-active {
  color: #c2d3bd; }

.cycle-pager > * {
  cursor: pointer; }

.tools-menu .column ul {
  /*height: 230px;*/ }

.shop-menu .column ul {
  height: 354px; }

.equipment-menu .column ul {
  /*height: 322px;*/ }

.newsletter-signup .hs-form fieldset {
  margin: 0 auto; }

/* ~~~~ Category Side Menu Styles ~~~~*/
#catframe a {
  color: #696969;
  font-size: 14px; }

#catframe ul {
  padding: 0;
  list-style-type: none; }

#catframe ul li {
  /*  border-bottom: 1px solid #dcdcdc; */
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 14px; }

#catframe .indent {
  list-style-type: circle;
  list-style-position: inside; }

.blog img {
  max-width: 700px;
  padding-bottom: 20px; }

.blog .item {
  font-style: italic;
  padding-bottom: 10px;
  margin-top: -20px; }

.blog h3 {
  margin-top: 40px; }

.blog h3:first-child {
  margin-top: 0px; }

.navigation ul ul a span,
.cat span {
  background: #dfe133;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  color: #696969; }

.cat span {
  position: absolute;
  left: -62px;
  top: 2px; }

.navigation ul ul a span {
  position: absolute;
  padding: 2px 2px 0px 2px;
  top: 2px; }

.hello-container {
  background-color: #ffb79d;
  z-index: 20;
  box-shadow: 0 0 2px 0 white;
  color: black;
  height: 60px;
  right: 0px; }

.hello.container, hbar_content {
  height: 100%;
  vertical-align: middle;
  position: relative; }

.hello p {
  font-size: 1rem; }

.hello .coral-text {
  /* color: #821512; */
  color: white;
  font-style: italic; }

.hello a, .hello a:link {
  color: black;
  font-style: italic;
  text-decoration: underline;
  /*  text-shadow: 1px 1px 0 #888; */ }

.hello a strong {
  color: black;
  font-style: italic; }

.hello i {
  font-size: 22px;
  position: relative;
  color: #c2d3bd;
  /* Standish Green */
  color: #bb8600;
  /*  Gold */
  color: #a30935;
  text-shadow: 1px 1px 0 white;
  margin: 0 4px; }

.hello .bold {
  color: #696969; }

.hello strong {
  color: black; }

.hello p {
  line-height: 32px;
  margin-top: 15px; }

.right-hello {
  color: white; }

.hello .container_12 {
  position: relative; }

.left-hello {
  margin-left: 60px; }

.hello-tag {
  position: absolute;
  top: 19px;
  left: 0; }

.hello-icon {
  display: inline-block;
  top: 0;
  float: left;
  left: -24px;
  position: relative; }

.hello-tab {
  background: #f5f5dc;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: -5px;
  right: 100px;
  z-index: 1; }

.hello-tab i {
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 7px; }

.header {
  background-color: #fff;
  width: 100%; }

.logo {
  display: block;
  background: url("/assets/templates/standish-responsive/images/standish-logo.png");
  background-repeat: no-repeat;
  width: 277px;
  height: 34px;
  text-indent: -9999em;
  position: relative;
  top: -12px;
  left: -25px; }

@media only screen and (max-width: 61.9375em) {
  header {
    min-height: 80px;
    padding-top: 15px; }

  button.cart, button.large, .button.large {
    font-size: 1rem;
    height: 2.875em; }

  header button.cart.large {
    margin-top: 15px; }

  header button.cart .cart-number {
    margin-left: 0; }

  .logo {
    background: url("/assets/templates/standish-responsive/images/Standish-Logo-Mobile.png");
    background-size: 200px auto;
    background-repeat: no-repeat;
    height: 80px;
    top: -28px;
    left: -10px; }

  .searchlight-result-text {
    font-size: 15px; }

  table.searchlight-results {
    width: 90%; }

  body section#prime-content {
    margin-top: 0; }

  .badge-product {
    width: 100%; } }
@media only screen and (max-width: 31.25em) {
  .logo {
    background-size: 50% auto; } }
@media only screen and (max-width: 61.9375em) {
  .toggle-navigation, .site-branding {
    margin-top: 20px; }

  .toggle-navigation {
    padding: 0; }

  .toggle-navigation a.btn {
    color: #474747; }

  .toggle-navigation a.btn:hover, .toggle-navigation a.btn:focus, .toggle-navigation a.btn:active {
    color: #333; } }
header button.cart {
  margin-top: 25px;
  margin-right: 0;
  padding-right: 0; }

button.cart i {
  font-size: 1.250rem;
  padding-right: 12px; }

.cart-number {
  margin-left: 18px;
  background-color: #ffb79d;
  padding: 14px 18px;
  border-radius: 0px 3px 3px 0; }

.navigation {
  background-color: #4d4d4d;
  text-transform: capitalize;
  border-radius: 0; }

.navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-left: 1px solid #696969; }

.navigation li {
  display: inline-block;
  margin: 0;
  line-height: 60px;
  height: 60px;
  position: relative;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif; }

.navigation ul.nav-menu > li {
  border-right: 1px solid #696969; }

.navigation ul.nav-menu > li > a {
  padding: 0 15px; }

.navigation a {
  font-size: .8em;
  color: #fff;
  display: inline-block;
  /*   padding: 0 37px 0 34px; */
  /*   padding: 0 22px; */
  padding: 0 19px;
  /* 	padding: 0 16px; */
  /* padding: 0 14px; */
  text-decoration: none; }

.navigation ul ul {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  /*   font-weight: 700; */
  background-color: #696969;
  display: none;
  float: left;
  position: absolute;
  top: 60px;
  padding: 15px 0 20px 0;
  left: 0;
  z-index: 19;
  width: 250px; }

.navigation li li {
  display: block;
  height: auto;
  margin: 0;
  line-height: 20px; }

.navigation ul ul ul {
  left: 100%;
  top: -20px;
  background: #5e5e5e;
  font-weight: normal; }

.navigation ul ul ul a {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: normal; }

.navigation ul ul ul a:hover {
  color: #c2d3bd; }

.navigation ul ul a {
  min-width: 170px;
  line-height: 16px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #c2d3bd;
  padding: 4px 25px; }

.navigation li:hover > a {
  color: #dfe133; }

.navigation li li:hover > a {
  color: #c2d3bd; }

.navigation ul ul a:hover {
  color: #fff; }

.navigation ul li:hover > ul,
ul.nav-menu li:hover > div ul {
  display: block; }

.navigation li li.allcaps a {
  padding-top: 10px; }

.navigation li li.allcaps > a:link,
.navigation li li.allcaps > a:visited {
  font-weight: 700;
  /* 	color: $primary-color-btn-highlight; */
  color: #fff; }

.navigation li li.allcaps > a:hover {
  color: #dfe133; }

.navigation li.current_page_item > a,
.navigation li.current-menu-item > a {
  color: #5ff23d; }

.navigation li.far {
  border: 0 none !important; }

li.far a:hover {
  color: #fff; }

li.far a {
  color: #a9a9a9;
  padding: 0 0px 0 14px !important; }

li.first.far a {
  padding: 0 0px 0 14px; }

.search {
  top: -10px;
  position: relative;
  margin-bottom: 20px; }

.search input {
  font-size: 14px;
  color: #a9a9a9;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  margin: 0;
  width: 200px;
  height: 16px;
  min-height: 28px; }

.search-button {
  font-size: 16px;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 2px 12px; }

.input-group.form-group-lg .search-button {
  padding: 10px 25px;
  font-size: 17px; }

.panel {
  padding: 10px; }

@media only screen and (max-width: 61.9375em) {
  header {
    min-height: 80px;
    padding-top: 15px; }

  button.cart, button.large, .button.large {
    font-size: 1rem;
    height: 2.875em; }

  header button.cart .cart-number {
    margin-left: 0; }

  .logo {
    top: 0;
    left: -10px; }

  .searchlight-result-text {
    font-size: 15px; }

  table.searchlight-results {
    width: 90%; }

  body section#prime-content {
    margin-top: 0; } }
@media only screen and (max-width: 992px) {
  header {
    background-color: #f3f3f3; }

  .container.search-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4d4d4d; }
    .container.search-container .input-group .form-control:first-child {
      border-radius: 3px; }

  .search .pull-right.input-group {
    width: 100%; }
  .search input {
    font-size: 14px;
    color: #a9a9a9;
    background-color: #efefef;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    min-height: 27px; }

  #mobile-menu {
    padding-top: 10px;
    padding-bottom: 10px; }
    #mobile-menu .logo {
      margin: 0;
      left: 0; }
    #mobile-menu a.inline {
      padding: 0 5px; }
    #mobile-menu a.toggle-navigation {
      color: #4d4d4d; } }
@media only screen and (min-width: 481px) and (max-width: 991px) {
  #mobile-menu i.fa {
    font-size: 3em; } }
@media only screen and (max-width: 61.9375em) {
  .toggle-navigation {
    padding: 0; }

  .toggle-navigation a.btn {
    color: #474747; }

  .toggle-navigation a.btn:hover, .toggle-navigation a.btn:focus, .toggle-navigation a.btn:active {
    color: #333; } }
@media only screen and (max-width: 768px) {
  .mobile-header {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    background-color: #f3f3f3;
    margin-top: 20px; }
    .mobile-header .product-pricing {
      padding-top: 20px; }
      .mobile-header .product-pricing h2#priceMobile {
        color: #ff7f50;
        font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
        margin: 0;
        font-size: 269%;
        display: inline-block;
        position: relative; }
      .mobile-header .product-pricing #sale-tag {
        display: inline-block;
        position: relative; }
    .mobile-header .product-title #product_id {
      color: #8d8d8d; }

  .product-options .product-form label {
    font-size: medium;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0; }
  .product-options .product-form .option-row {
    margin-bottom: 10px;
    padding: 10px 20px; }
  .product-options .product-form .option-row #quantity {
    height: 2.8rem;
    width: 3rem;
    font-size: 1.2rem; }
  .product-options .product-form .fancy-select, .product-options .product-form .fancy-select-lg {
    margin-right: 0;
    width: 100%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 3.2rem; }
    .product-options .product-form .fancy-select.form-group, .product-options .product-form .form-group.fancy-select-lg {
      margin-bottom: 0; }
  .product-options .product-form .fancy-select select, .product-options .product-form .fancy-select-lg select {
    font-size: 1.2rem;
    width: 100%;
    height: 100%; }
  .product-options .product-form .fancy-select i, .product-options .product-form .fancy-select-lg i {
    font-size: x-large;
    background-color: #efefef;
    padding: 10px 12px;
    height: 100%; } }
@media only screen and (max-width: 768px) {
  .total {
    padding: 20px 10px; }
    .total .button.large {
      padding: 0 10px; } }
.fancy-select-lg {
  margin-right: 0;
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 3.2rem; }
  .fancy-select-lg.form-group {
    margin-bottom: 0; }
  .fancy-select-lg select {
    font-size: 1.2rem;
    width: 100%;
    height: 100%; }
  .fancy-select-lg i {
    font-size: x-large;
    background-color: #efefef;
    padding: 10px 12px;
    height: 100%; }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  .badges .badges-list .badge-product {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .listing .listing-container .product_thumb {
    border: 0 none; } }
/*Add 5-col class...*/
@media (min-width: 992px) {
  .col-md-2-2 {
    width: 20%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float: left; } }
/*Override bootstrap container class...*/
@media (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0; } }
/* Override bootstrap container in large width so it doesn't look stretched out */
@media (min-width: 1200px) {
  .container {
    width: 1000px; } }
.sidr-class-hidden-xs,
.sidr-class-hidden-sm,
.sidr-class-hidden-md,
.sidr-class-hidden-lg {
  display: none; }

.sidr .sidr-inner ul li {
  /* Sidr Side mobile menu */ }
  .sidr .sidr-inner ul li .sidr-class-hidden-xs,
  .sidr .sidr-inner ul li .sidr-class-hidden-sm,
  .sidr .sidr-inner ul li .sidr-class-hidden-md,
  .sidr .sidr-inner ul li .sidr-class-hidden-lg {
    display: none; }

.sidr-inner .sidr-class-hidden {
  display: none; }

.sidr ul li.sidr-class-subcategories a.sidr-class-menu-open {
  color: #676767; }

/* Table Based Page Styles */
/*override mobile bootstrap table styles*/
@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
    white-space: normal; }

  .table-responsive {
    border: 0 none; } }
@media screen and (max-width: 767px) {
  .product-form .MagicZoomPlus, .MagicZoomPlus:hover {
    cursor: pointer !important; } }
/* Product and Category Pages */
.ge-free-shipping span, .badge-free-shipping em {
  background-position: 0 0; }

.badge-fire-retardant i, .badge-fire-
[class^="badge-"] i,
[class*="badge-"] i,
[class^="badge-"] span,
[class*="badge-"] span,
[class^="badge-"] em,
[class*="badge-"] em {
  display: block;
  height: 60px;
  width: 60px;
  background: url("/assets/templates/{$template}/images/badges-sprite.png");
  -webkit-background-size: 800%;
  -moz-background-size: 800%;
  background-size: 800%;
  float: left; }

[class^="badge-"] em,
[class*="badge-"] em {
  margin-right: 14px; }

[class^="badge-"] span,
[class*="badge-"] span {
  margin: 20px; }

.badge-product {
  height: 60px;
  width: 50%;
  float: left;
  margin: 10px 0; }

.badge-product div {
  display: block;
  float: left;
  font-family: 'PT Serif';
  font-size: 14px;
  letter-spacing: 1 px;
  text-transform: uppercase;
  max-width: 60%;
  margin-left: 15px;
  padding-top: 10px; }

.badge-made-usa i, .badge-made-usa span, .badge-made-usa em {
  background: url("/assets/templates/{$template}/images/made-usa-badge.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.badge-free-shipping i, .badretardant span, .badge-fire-retardant em {
  background-position: 0 -60px; }

.badge-heavy-duty i, .badge-heavy-duty span, .badge-heavy-duty em {
  background-position: 0 -120px; }

.badge-iron-life i, .badge-iron-life span, .badge-iron-life em {
  background-position: 0 -180px; }

.badge-no-sales-tax i, .badge-no-sales-tax span, .badge-no-sales-tax em {
  background-position: -60px 0; }

.badge-ten-thousand-rub i {
  background-position: -60px -60px; }

.badge-swap-base i {
  background-position: -60px -120px; }

.badge-new-arrival i, .badge-new-arrival span, .badge-new-arrival em {
  background-position: -60px -180px; }

.badge-service i, .badge-service span, .badge-service em {
  background-position: -120px 0; }

.badge-warranty i, .badge-warranty span, .badge-warranty em {
  background-position: -120px -60px; }

.badge-color i, .badge-color span, .badge-color em {
  background-position: -120px -120px; }

.badge-returns i, .badge-returns span, .badge-returns em {
  background-position: -120px -180px; }

.badge-hardwood i {
  background-position: -180px 0; }

.badge-extra-wide i {
  background-position: -180px -60px; }

.badge-double-stitched i {
  background-position: -180px -120px; }

.badge-inspected i, .badge-inspected span, .badge-inspected em {
  background-position: -180px -180px; }

.badge-hidden-clover i {
  background-position: -180px -242px; }

.badge-free-shipping:hover i {
  background-position: -240px 0; }

.badge-fire-retardant:hover i {
  background-position: -240px -60px; }

.badge-heavy-duty:hover i {
  background-position: -240px -120px; }

.badge-iron-life:hover i {
  background-position: -240px -180px; }

.badge-no-sales-tax:hover i {
  background-position: -300px 0; }

.badge-ten-thousand-rub:hover i {
  background-position: -300px -60px; }

.badge-swap-base:hover i {
  background-position: -300px -120px; }

.badge-new-arrival:hover i {
  background-position: -300px -180px; }

.badge-service:hover i {
  background-position: -360px 0; }

.badge-warranty:hover i {
  background-position: -360px -60px; }

.badge-color:hover i {
  background-position: -360px -120px; }

.badge-returns:hover i {
  background-position: -360px -180px; }

.badge-hardwood:hover i {
  background-position: -420px 0; }

.badge-extra-wide:hover i {
  background-position: -420px -60px; }

.badge-double-stitched:hover i {
  background-position: -420px -120px; }

.badge-inspected:hover i {
  background-position: -420px -180px; }

.badge-hidden-clover:hover i {
  background-position: -240px -242px; }

.fancy-select i, .fancy-select-lg i {
  pointer-events: none; }

.fancy-select img, .fancy-select-lg img {
  margin: 3px 0 0 235px; }

.fancy-select select, .fancy-select-lg select {
  background: transparent;
  color: #4d4d4d;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 34px;
  -webkit-appearance: none;
  box-shadow: none;
  position: absolute;
  line-height: 28px;
  padding: 0 10px;
  -moz-appearance: window;
  /*   padding: 6px 0 0 3px; */ }

.fancy-select, .fancy-select-lg {
  margin-right: 10px;
  padding: 0;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 34px;
  overflow: hidden;
  background: #efefef;
  display: inline-block;
  position: relative; }

.fancy-select i, .fancy-select-lg i {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  border-left: 1px solid #dcdcdc;
  padding: 9px 12px; }

.listing-container {
  margin-bottom: 10px; }

.listing {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 335px; }

.listing .product_thumb {
  border: 1px solid #dcdcdc;
  width: 100%;
  max-height: 510px; }

.listing button {
  width: 100%; }

.listing p {
  margin: 5px 0; }

.listing p.price {
  margin: 6px 0; }

.listing p.title {
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  min-height: 34px; }

.listing p.msrp {
  color: #a9a9a9;
  text-decoration: line-through; }

.listing .button {
  width: 100%;
  position: relative;
  bottom: 0; }

.product-title {
  font-size: 24px;
  margin-bottom: 3px; }

.part-no {
  margin-top: 3px;
  color: #a9a9a9; }

.pricebox {
  background: #f5f5f5;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.pricebox.quote-box {
  background: transparent none;
  text-align: left; }

.pricebox.quote-box h3 {
  display: inline-block; }

.pricebox-quote-box {
  text-align: left !important; }

.pricebox .left-price {
  font-size: 42px;
  text-align: center;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  line-height: 110px;
  position: relative; }

.pricebox .financing {
  font-size: 12px;
  display: block;
  position: absolute;
  top: 85px;
  line-height: 12px;
  width: 280px; }

.pricebox .right-price {
  border-left: 1px solid #dcdcdc;
  padding: 10px; }

.pricebox .right-price p {
  margin: 5px 10px;
  font-size: 14px; }

.pricebox .right-price .label {
  width: 77px;
  display: block;
  float: left;
  white-space: normal; }

fieldset {
  padding: 0;
  margin: 0; }

#quantity {
  width: 40px;
  text-align: center;
  background: #efefef;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #4d4d4d;
  padding: 3px 0; }

.product-options {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc; }

.product-form label {
  font-size: small; }

.product-form .option-row {
  margin-bottom: 10px;
  padding: 10px; }

.product-form label {
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif; }

.product-form .fancy-select, .product-form .fancy-select-lg {
  margin-right: 0;
  width: 293px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 28px; }

.product-form .fancy-select select, .product-form .fancy-select-lg select {
  width: 293px;
  height: auto; }

.product-form .fancy-select i, .product-form .fancy-select-lg i {
  padding: 4px 12px; }

.product-form .add {
  width: 295px;
  height: 50px; }

.product-form .questions {
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  text-align: center;
  float: right;
  line-height: 27px; }

.option-row.last {
  padding: 40px 10px 10px; }

.product_right h4 {
  clear: both;
  margin-top: 20px; }

.product_right ul {
  padding: 0 20px; }

.product_right li {
  color: #ff7f50; }

.product_right li span {
  color: #696969; }

.badges {
  padding: 0 0 20px 0; }

.product-details {
  position: relative; }

.brochure-download {
  /*
    position: absolute;
    top: 0;
    right: 0;
  */
  text-align: right;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif; }

.brochure-download i {
  font-size: 18px;
  color: #ff7f50; }

.related-products,
.related-accessories {
  margin-top: 50px;
  position: relative; }

.related-products h4,
.related-accessories h4 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px; }

/*
.related-products a,
.related-accessories a {
  font-family: $default-font-narrow;
  position: absolute;
  font-size: 14px;
  top: 2px;
  right: 0;
}
*/
.review {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 25px;
  margin-bottom: 15px; }

.review span.bold {
  font-size: 14px;
  margin: 0; }

.review p {
  margin: 0;
  line-height: 1.5; }

.rating {
  font-size: 14px;
  font-style: italic;
  color: #a9a9a9;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif; }

.stars {
  position: relative;
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 20px;
  left: -4px; }

.stars span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block; }

.stars span.star:hover {
  cursor: pointer; }

.stars span.star:before {
  content: "\f006";
  padding-right: 2px;
  color: #ff7f50; }

.stars span.star:hover:before,
.stars span.star:hover ~ span.star:before {
  content: "\f005"; }

.add-rating-link {
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  font-size: 14px; }

.add-rating-link i {
  color: #ff7f50;
  font-size: 16px; }

#categoryHeader {
  margin-top: 0;
  margin-bottom: 20px; }

#categoryHeader h1 {
  margin-top: 0; }

.category-filters {
  border-bottom: 1px solid #dcdcdc; }

.category-filters h5 {
  font-weight: 200; }

.category-filters .fancy-select, .category-filters .fancy-select-lg {
  margin-bottom: 20px; }

.category-navigation ul {
  padding: 0; }

.category-navigation ul > li {
  font-family: 'PT Serif';
  font-weight: 700;
  line-height: 1.25;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none; }

.sale-cornertag {
  position: relative; }

.sale-cornertag .cornersprite {
  display: block; }

.cornersprite {
  display: none;
  background-image: url("/assets/templates/{$template}/images/corner-tag-sprite.png");
  width: 75px;
  height: 75px;
  background-position: -76px 0;
  position: absolute;
  top: -5px;
  left: -5px; }

.cornersprite.new {
  background-position: 0 0; }

.tweet_button {
  background: url("/assets/templates/{$template}/images/tweet-sprite.png");
  width: 56px;
  height: 21px;
  display: inline-block; }

.tweet_button:hover {
  background-position: 0 -21px; }

.promotions {
  font-size: 14px; }

/* Instagram 3 picture limit */
#instafeed a:nth-child(n+4) {
  display: none; }

#instafeed {
  width: 470px; }

#instafeed img {
  padding: 0px 2px 0px 2px; }

.MagicZoomPlus img {
  max-height: 650px; }

/* Price Drop Feature Styles */
.priceDropTitle {
  margin-bottom: 10px; }

.priceDropButton {
  font-size: 16px;
  padding: 0 24px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
  margin-top: 0px; }

.vex-content .hs-form-field label {
  font-size: 18px; }

.vex-content .hs-form-field {
  margin-bottom: 15px; }

/* End of Price Drop Feature Styles */
/* Made in USA promotion */
.cat span.made-usa {
  left: -61px;
  color: white;
  background: #000fa5; }

.cat span.made-usa i {
  color: white; }

#catframe a[href="american-made-salon-furniture"],
#catframe a[href="american-made-salon-furniture"]:hover,
#catframe a[href="american-made-salon-furniture"]:active {
  color: #cd3333; }

/* End Made USA Promotion */
/* -- Modal Stuff- July 2015 -- */
h3.header-patriot {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  margin: 0;
  padding: 10px 0;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  color: white; }

.modal-patriot a, .modal-patriot a:hover, .modal-patriot a:visited, .modal-patriot a.active {
  color: white;
  text-decoration: none; }

.modal-patriot .modal-body, .modal-patriot .modal-footer {
  background-color: #222e69;
  padding-top: 10px;
  padding-bottom: 10px; }

.modal-patriot button.close {
  margin-top: -20px;
  margin-right: -20px;
  width: 30px;
  height: 30px;
  opacity: 1;
  background-color: #666;
  color: white; }

.modal-patriot strong {
  color: white; }

.modal-patriot button.button-patriot {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 0px #4f0507;
  -moz-box-shadow: 0px 5px 0px #4f0507;
  box-shadow: 0px 5px 0px #4f0507;
  border: 0 none;
  color: #ffffff;
  font-size: 20px;
  background: #9e0b0f;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.modal-patriot button.button-patriot:hover {
  background: #4f0507;
  border: 0 none;
  text-decoration: none; }

.modal-patriot .modal-header {
  border-bottom: 0 none;
  background-color: #031d48; }

.modal-patriot .modal-footer {
  border-top: 0 none;
  text-align: center;
  padding-bottom: 20px; }

.modal-patriot ol li, .modal-patriot ul li {
  color: white;
  font-size: 1.15em; }

@media only screen and (max-width: 61.9375em) {
  header {
    min-height: 80px;
    padding-top: 15px; }

  button.cart, button.large, .button.large {
    font-size: 1rem;
    height: 2.875em; }

  header button.cart .cart-number {
    margin-left: 0; }

  .logo {
    top: 0;
    left: -10px; }

  .searchlight-result-text {
    font-size: 15px; }

  table.searchlight-results {
    width: 90%; }

  body section#prime-content {
    margin-top: 0; } }
@media only screen and (max-width: 992px) {
  header {
    background-color: #f3f3f3; }

  .container.search-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4d4d4d; }
    .container.search-container .input-group .form-control:first-child {
      border-radius: 3px; }

  .search .pull-right.input-group {
    width: 100%; }
  .search input {
    font-size: 14px;
    color: #a9a9a9;
    background-color: #efefef;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    min-height: 27px; }

  #mobile-menu {
    padding-top: 10px;
    padding-bottom: 10px; }
    #mobile-menu .logo {
      margin: 0;
      left: 0; }
    #mobile-menu a.inline {
      padding: 0 5px; }
    #mobile-menu a.toggle-navigation {
      color: #4d4d4d; } }
@media only screen and (min-width: 481px) and (max-width: 991px) {
  #mobile-menu i.fa {
    font-size: 3em; } }
@media only screen and (max-width: 61.9375em) {
  .toggle-navigation {
    padding: 0; }

  .toggle-navigation a.btn {
    color: #474747; }

  .toggle-navigation a.btn:hover, .toggle-navigation a.btn:focus, .toggle-navigation a.btn:active {
    color: #333; } }
@media only screen and (max-width: 768px) {
  .mobile-header {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    background-color: #f3f3f3;
    margin-top: 20px; }
    .mobile-header .product-pricing {
      padding-top: 20px; }
      .mobile-header .product-pricing h2#priceMobile {
        color: #ff7f50;
        font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
        margin: 0;
        font-size: 269%;
        display: inline-block;
        position: relative; }
      .mobile-header .product-pricing #sale-tag {
        display: inline-block;
        position: relative; }
    .mobile-header .product-title #product_id {
      color: #8d8d8d; }

  .product-options .product-form label {
    font-size: medium;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0; }
  .product-options .product-form .option-row {
    margin-bottom: 10px;
    padding: 10px 20px; }
  .product-options .product-form .option-row #quantity {
    height: 2.8rem;
    width: 3rem;
    font-size: 1.2rem; }
  .product-options .product-form .fancy-select, .product-options .product-form .fancy-select-lg {
    margin-right: 0;
    width: 100%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 3.2rem; }
    .product-options .product-form .fancy-select.form-group, .product-options .product-form .form-group.fancy-select-lg {
      margin-bottom: 0; }
  .product-options .product-form .fancy-select select, .product-options .product-form .fancy-select-lg select {
    font-size: 1.2rem;
    width: 100%;
    height: 100%; }
  .product-options .product-form .fancy-select i, .product-options .product-form .fancy-select-lg i {
    font-size: x-large;
    background-color: #efefef;
    padding: 10px 12px;
    height: 100%; } }
@media only screen and (max-width: 768px) {
  .total {
    padding: 20px 10px; }
    .total .button.large {
      padding: 0 10px; } }
.fancy-select-lg {
  margin-right: 0;
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 3.2rem; }
  .fancy-select-lg.form-group {
    margin-bottom: 0; }
  .fancy-select-lg select {
    font-size: 1.2rem;
    width: 100%;
    height: 100%; }
  .fancy-select-lg i {
    font-size: x-large;
    background-color: #efefef;
    padding: 10px 12px;
    height: 100%; }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  .badges .badges-list .badge-product {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .listing .listing-container .product_thumb {
    border: 0 none; } }
/*Add 5-col class...*/
@media (min-width: 992px) {
  .col-md-2-2 {
    width: 20%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float: left; } }
/*Override bootstrap container class...*/
@media (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0; } }
/* Override bootstrap container in large width so it doesn't look stretched out */
@media (min-width: 1200px) {
  .container {
    width: 1000px; } }
.sidr-class-hidden-xs,
.sidr-class-hidden-sm,
.sidr-class-hidden-md,
.sidr-class-hidden-lg {
  display: none; }

.sidr .sidr-inner ul li {
  /* Sidr Side mobile menu */ }
  .sidr .sidr-inner ul li .sidr-class-hidden-xs,
  .sidr .sidr-inner ul li .sidr-class-hidden-sm,
  .sidr .sidr-inner ul li .sidr-class-hidden-md,
  .sidr .sidr-inner ul li .sidr-class-hidden-lg {
    display: none; }

.sidr-inner .sidr-class-hidden {
  display: none; }

.sidr ul li.sidr-class-subcategories a.sidr-class-menu-open {
  color: #676767; }

/* Table Based Page Styles */
/*override mobile bootstrap table styles*/
@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
    white-space: normal; }

  .table-responsive {
    border: 0 none; } }
@media screen and (max-width: 767px) {
  .product-form .MagicZoomPlus, .MagicZoomPlus:hover {
    cursor: pointer !important; } }

/*# sourceMappingURL=main.css.map */
